h6.documentHeaderBig(style="display:none;" class="sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
    span.big-sidebar #{__('Clients')} - #{__('options')}
    span.small-sidebar(style="display:none")
h6.documentHeaderSmall(style="display:none;" class="sidebar-heading  justify-content-between align-items-center px-3 text-muted")
    span.big-sidebar #{__('Clients')} - #{__('options')}
    span.small-sidebar(style="display:none")
ul(class="nav flex-column option-menu mb-2")
    li(class="nav-item")
        if currentUrl === "clientNew"
            a(class="nav-link active",href='/client/new' data-toggle="tooltip" data-placement="right" title=__('New client'))
                i.nav-fas(class="fas fa-user-plus")
                span #{__('New client')}
        else
            a(class="nav-link",href='/client/new' data-toggle="tooltip" data-placement="right" title=__('New client'))
                i.nav-fas(class="fas fa-user-plus")
                span #{__('New client')}
