ul(class="nav flex-column")
    if role === "user"
        li(class="nav-item")
                a(class=(currentUrl==="dashboard" || currentUrl==="chart")?"nav-link active":"nav-link" href="/dashboard")
                    i.nav-fas(class="fas fa-home")
                    span #{__('Home')}
    li(class="nav-item")
            a(class=(currentUrl==="edit-profile")?"nav-link active":"nav-link" href="/view/profile")
                i.nav-fas(class="fas fa-user")
                span #{__('My profile')}
    if role === "user"
        li(class="nav-item")
            a(class=(currentUrl === "clientAll" || currentUrl === "invoiceClient") ? "nav-link active":"nav-link" href="/client/all")
                i.nav-fas(class="fas fa-users")
                span #{__('Clients')}
        li(class="nav-item")
                a(class=(currentUrl==="invoices")?"nav-link active":"nav-link" href="/invoice/all")
                    i.nav-fas(class="fas fa-file-alt")
                    span #{__('All invoices')}
        li(class="nav-item")
            a(class=(currentUrl === "activities") ? "nav-link active": "nav-link" href="/activity")
                i.nav-fas(class="fas fa-list-ul")
                span #{__('My activities')}
        li(class="nav-item")
                a(class=(currentUrl === 'settings' || currentUrl === "password")?"nav-link active":"nav-link" href="/settings")
                    i.nav-fas(class="fas fa-cog ")
                    span #{__('Settings')}
ul(class="nav flex-column")
    li(class="nav-item")
        a(class="nav-link",href="https://identity.basecone.com/authentication/login")
            i.nav-fas(class="fas fa-bookmark")
            span Basecone login

ul.nav.flex-column.down
    li.nav-item
        a.nav-link(href="#bugReporter", data-toggle='modal' data-target='#bugReporter' )
            i.nav-fas(class="fas fa-bug ")
            span=__("Bug reporter")
    li.nav-item
        a.nav-link(href="#about" )
            i.nav-fas(class="fas fa-address-card")
            span=__("About")