ul(class="nav flex-column")
    if role !== "visitor"
        li(class="nav-item")
                a(class=(currentUrl==="dashboard" || currentUrl==="chart")?"nav-link active":"nav-link" href=(role==='admin')?'/admin':'/dashboard' data-toggle="tooltip" data-placement="right" title=__('Home'))
                    i.nav-fas(class="fas fa-home")
                    span #{__('Home')}
    if role === "user" || role === 'visitor'
        li(class="nav-item")
            a(class=(currentUrl==="edit-profile")?"nav-link active":"nav-link" href="/view/profile" data-toggle="tooltip" data-placement="right" title=__('My profile'))
                i.nav-fas(class="fas fa-user")
                span #{__('My profile')}
    if role === "user"
        li(class="nav-item")
            a(class=(currentUrl === "clientAll" || currentUrl === "invoiceClient") ? "nav-link active":"nav-link" href="/client/all" data-toggle="tooltip" data-placement="right" title=__('Clients'))
                i.nav-fas(class="fas fa-users")
                span #{__('Clients')}
        li(class="nav-item")
                a(class=(currentUrl==="invoices")?"nav-link active":"nav-link" href="/invoice/all" data-toggle="tooltip" data-placement="right" title=__('All invoices'))
                    i.nav-fas(class="fas fa-file-invoice")
                    span #{__('All invoices')}
        li(class="nav-item")
            a(class=(currentUrl === "activities") ? "nav-link active": "nav-link" href="/activity" data-toggle="tooltip" data-placement="right" title=__('My activities'))
                i.nav-fas(class="fas fa-list-ul")
                span #{__('My activities')}
    if role !== 'visitor'
        li(class="nav-item")
                a(class=(currentUrl === 'settings' || currentUrl === "password")?"nav-link active":"nav-link" href="/settings" data-toggle="tooltip" data-placement="right" title=__('Settings'))
                    i.nav-fas(class="fas fa-cog ")
                    span #{__('Settings')}
    if role === 'user'
        li(class="nav-item")
            a(class="nav-link", href="https://identity.basecone.com/authentication/login" data-toggle="tooltip" data-placement="right" title="Basecone login")
                i.nav-fas(class="fas fa-bookmark")
                span Basecone login
    if role !== 'visitor'
        li(class="nav-item")
            a(class="nav-link", href="#" data-toggle="tooltip" data-placement="right" title="Wallet")
                i.nav-fas(class="fas fa-wallet")
                if Number(credits)>999
                    span My wallet: 999+ CR
                else
                    span='My wallet: '+credits+' CR'
    include ./adminOptionsMenu
    if role !== 'admin'
        li.nav-item
            a.nav-link(href="#bugReporter" data-toggle='modal' data-target='#bugReporter' )
                i.nav-fas(class="fas fa-bug " data-toggle="tooltip" data-placement="right" title=__("Bug reporter"))
                span=__("Bug reporter")
    if role !== 'admin' && role !== 'support'
        li(class="nav-item")
            a(class="nav-link",href='/support' data-toggle="tooltip" data-placement="right" title="Support" )
                i.nav-fas(class="fas fa-headset")
                span Support
