ul(class="nav flex-column")
    li(class="nav-item")
        if currentUrl === "dashboard" || currentUrl === "chart"
            a(class="nav-link active" href="/dashboard")
                span(data-feather="home")
                span #{__('Home')}
                if currentUrl === "chart"
                    span(data-feather="chevron-right")
                    span #{__('Chart')}
                span(class="sr-only") (current)
        else
            a(class="nav-link" href="/dashboard")
                span(data-feather="home")
                span #{__('Home')}
    li(class="nav-item")
        if currentUrl === "edit-profile"
            a(class="nav-link active" href="/view/profile")
                span(data-feather="user")
                span #{__('My profile')}
                span(class="sr-only") (current)
        else
            a(class="nav-link" href="/view/profile")
                span(data-feather="user")
                span #{__('My profile')}
    li(class="nav-item")
        if currentUrl === "invoices"
            a(class="nav-link active" href="/invoice/all")
                span(data-feather="file")
                span #{__('All invoices')}
                span(class="sr-only") (current)
        else
            a(class="nav-link" href="/invoice/all" )
                span(data-feather="file")
                span #{__('All invoices')}
    li(class="nav-item")
        if currentUrl === 'clientAll'
            a(class="nav-link active" href="/client/all")
                span(data-feather="users")
                span #{__('Clients')}
                if client || currentUrl === "invoicesClient"
                    span(data-feather="chevron-right")
                    span #{__('invoices')}
                span(class="sr-only") (current)
        else
            a(class="nav-link" href="/client/all")
                span(data-feather="users")
                span #{__('Clients')}
    li(class="nav-item")
        a(class="nav-link" href="#disabled")
            span(data-feather="book")
            span #{__('Projects')}
    li(class="nav-item")
        if currentUrl === 'stock'
            a(class="nav-link active" href="/stock/all")
                span(data-feather="package")
                span #{__('Stock')}
                span(class="sr-only") (current)
        else
            a(class="nav-link" href="/stock/all")
                span(data-feather="package")
                span #{__('Stock')}
    li(class="nav-item")
        if currentUrl === 'calc'
            a(class="nav-link active" href="/calc/all")
                span(data-feather="book")
                span #{__('Calculations')}
                span(class="sr-only") (current)
        else
            a(class="nav-link" href="/calc/all")
                span(data-feather="book")
                span #{__('Calculations')}
    li(class="nav-item")
        if currentUrl === 'settings' || currentUrl === "password"
            a(class="nav-link active" href="/settings")
                span(data-feather="settings")
                span #{__('Settings')}
                span(class="sr-only") (current)
                if currentUrl === "password"
                    span(data-feather="chevron-right")
                    span #{__('Password')}
                    span(class="sr-only") (current)
        else
            a(class="nav-link" href="/settings")
                span(data-feather="settings")
                span #{__('Settings')}