nav(class="navbar navbar-dark fixed-top bg-"+settings.theme+" flex-md-nowrap p-0 shadow")
    a#main-brand(class="navbar-brand col-sm-3 col-md-2 mr-0",href="/view/profile") invoice-administration
    a#off-brand(class="navbar-brand col mr-0",href="/dashboard",style="display:none") I-A
    button.navbar-toggler(id="navbarButton" type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    form#navbar-form-small(class="form", method="post",action="/search/")
        input(class="form-control form-control-" + settings.theme + " w-100" type="text",name="search", placeholder=__('search'),value=currentSearch, aria-label=__("search") )
        button(type="sumbit",style="display:none")
    #navbar.collapse.navbar-collapse
        .navbar-nav
            include ./mainMenu
    form#navbar-form-big(class="form", method="post",action="/search/")
        input(class="form-control form-control-"+settings.theme+" w-100" type="text",name="search", placeholder=__('search'),value=currentSearch, aria-label=__("search") )
        button(type="sumbit",style="display:none")
    ul#navbar-logout(class="navbar-nav px-3")
        li(class="nav-item text-nowrap")
            a(  style="color:#FFF", href="/logout") #{__('Sign out')}

