//- V1.8
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheet.css")
    scrip(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="https://www.chartjs.org/samples/latest/utils.js")
    script(src="https://unpkg.com/feather-icons")
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
      function changeContact(){
        $("#changeContactForm").toggle();
        $("#projectCard").toggle();
      };
      function changeFinancial(){
        $("#financialCard").toggle();
        $("#financialCardEdit").toggle();
      };
      function changeDescription(){
        $("#descriptionCard").toggle();
        $("#descriptionCardEdit").toggle();
      }
body
  header
    nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
      a(class="navbar-brand col-sm-3 col-md-2 mr-0",href="/edit-profile/"+loginHash)=profile.firma
      form(class="form", method="post",action="/zoeken/"+loginHash)
        input(class="form-control form-control-dark w-100" type="text",name="search",placeholder="zoeken" aria-label="zoeken")
        button(type="sumbit",style="display:none")
      ul(class="navbar-nav px-3")
        li(class="nav-item text-nowrap")
          a(class="nav-link" href="#") Sign out
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            ul(class="nav flex-column")
              li(class="nav-item")
                a(class="nav-link" href="/index/"+loginHash)
                  span(data-feather="home")
                  span Home
              li(class="nav-item")
                a(class="nav-link" href="/edit-profile/"+loginHash)
                  span(data-feather="user")
                  span Mijn Profiel
              li(class="nav-item")
                a(class="nav-link" href="/facturen/"+loginHash)
                  span(data-feather="file")
                  span Alle facturen
              li(class="nav-item")
                a(class="nav-link" href="/contacten/" + loginHash)
                  span(data-feather="users")
                  span Klanten
              li(class="nav-item")
                  a(class="nav-link active" href="/projecten/"+loginHash)
                      span(data-feather="book")
                      span Projecten
                      span(class="sr-only") (current)
                      span(data-feather="chevron-right")
                      span=project.naam
              li(class="nav-item")
                a(class="nav-link" href="/mat/"+loginHash)
                  span(data-feather="package")
                  span Materialen
              li(class="nav-item")
                a(class="nav-link" href="/berekeningen/"+loginHash)
                  span(data-feather="book")
                  span Berekeningen
              li(class="nav-item")
                a(class="nav-link" href="/settings/"+loginHash)
                  span(data-feather="settings")
                  span Settings
            if profile.bookmarks.length !==0
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                span Bookmarks
            each bookmark in profile.bookmarks
              ul(class="nav flex-column")
                li(class="nav-item")
                    a(class="nav-link",href="https://"+bookmark[1])
                        span(data-feather="bookmark")
                        span=bookmark[0]
            h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
              span Projecten - opties
            ul(class="nav flex-column mb-2")
              li(class="nav-item")
                a(class="nav-link",href='/add-project' + "/" + loginHash)
                  span(data-feather="plus-circle")
                  span Nieuw project
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          div(class="container-fluid")
            hr
            div(class="row")
              div(class="col-6")
                div(class="card")
                  //MAIN CARD --editable
                  div(id="changeContactForm" class="selectNextToButton",style="display:none;")
                    form(action='/project-edit/'+project._id+'/'+loginHash,method='post')
                      h5(class="card-header h2")
                        input(type="text",name="naam",value=project.naam,placeholder=project.naam)
                        div(class="edit-link-project")
                          a(href="#",onclick="changeContact()" )
                            span(data-feather="edit-3")
                          button(type="submit",class="edit-link-project submit-feather thisButtonIsALink")
                            span(data-feather="upload-cloud")
                      div(class="card-body")
                        div(class="container-fluid")
                          div(class="row")
                            div(class="col-1")
                              h5(class="card-title editable-select")
                                span(style="float:left;",class="cardProjectEdit")="Klant: "
                            div(class="col-6")
                                div(class="input-group")
                                  select(class="custom-select selectNextToButton" id="inputGroupSelect03"  name="idc")
                                      each contact in contacten
                                        if contact._id.toString() !== project.contact.toString()
                                          option(value=contact._id)=contact.contactPersoon
                                        else
                                          option(value=contact._id, selected)=contact.contactPersoon
                  //MAIN CARD --normal
                  div(id="projectCard",class="cardWithEditFeather")
                    h5(class="card-header h2")=project.naam
                      a(href="#",onclick="changeContact()" ,class="edit-link-project")
                        span(data-feather="edit-2")
                    div(class="card-body")
                        h5(class="card-title")
                          span="Klant: "
                            a(href="/facturen"+"/"+project.contact+"/"+loginHash)=project.contactNaam
                            
              div(class="col-6")
                //DESCRIPTION CARD --normal
                div(class="card",id="descriptionCard")
                  div(class="cardWithEditFeather")
                    div(class="card-header") Beschrijving
                      a(href="#",onclick="changeDescription()",class="edit-link-project")
                        span(data-feather="edit-2")
                    div(class="card-body")
                      span(class="cardDescription textarea")=project.description
                //DESCRIPTION CARD --editable
                div(class="card",id="descriptionCardEdit",style="display:none;")
                  div(class="cardWithEditFeather")
                    form(action='/project-edit/'+project._id+'/'+loginHash,method='post')
                      div(class="card-header") Beschrijving
                        a(href="#",onclick="changeDescription()",class="edit-link-project")
                          span(data-feather="edit-3")
                        button(type="submit",class="edit-link-project submit-feather thisButtonIsALink")
                          span(data-feather="upload-cloud")
                        a(href="#",onclick="changeBeschrijving",class="edit-link-project")
                      div(class="card-body")
                        div(class="form-group")
                            textarea(class="form-control" id="descriptionOfCard" rows="3",name="description",placeholder=project.description)=project.description
            hr
            div(class="row")
              div(class="col-2")
                //FINANCIAL CARD --normal
                div(class="card",id="financialCard", style="")
                  div(class="card-header") Financieel
                    a(href="#",onclick="changeFinancial()",class="edit-link-project")
                      span(data-feather="edit-2")                      
                  div(class="card-body cardWithEditFeather")
                    ul(class="list-group list-group-flush")
                      if !project.werkprijs
                        li(class="list-group-item") Werktarief 0 €/uur
                      else
                        li(class="list-group-item")="Werktarief "+project.werkprijs+" €/uur"
                      li(class="list-group-item")
                        h6 Budget
                        p=project.budget.min+"€ - "+project.budget.max+"€"
                      li(class="list-group-item") 
                        h6 Data
                        p=project.data.start+" - "+project.data.end
                //FINANCIAL CARD --editable
                div(class="card",id="financialCardEdit" ,style="display:none;")
                  form(action='/project-change-financial/'+project._id+'/'+loginHash,method='post')
                    div(class="card-header") Financieel
                        a(href="#",onclick="changeFinancial()" ,class="edit-link-project")
                          span(data-feather="edit-3")
                        button(type="submit",class="edit-link-project submit-feather thisButtonIsALink")
                          span(data-feather="upload-cloud")
                    div(class="card-body cardWithEditFeather")
                      ul(class="list-group list-group-flush")
                        li(class="list-group-item")
                          label(for="werkprijs") Werktarief:
                          input(type="text",name="werktarief",placeholder=project.werkprijs,value=project.werkprijs)
                        li(class="list-group-item")
                          h6 Budget
                          p=project.budget.min+"€ - "+project.budget.max+"€"
                        li(class="list-group-item")
                          h6 Data
                          p=project.data.start+" - "+project.data.end
              div(class="col")
                
  
