form(action=((currentUrl==="clientNew")?'/client/new':'/edit/client/'+client._id) ,method='post')
    p=msg
    div(class="form-row")
        div(class="form-group col-md-5")
            label(for="title")=__('Client name')+'*'
            input(type="text",class="form-control",value=client.clientName,name="clientName")
        div(class="form-group col-md-2")
        div(class="form-group col-md-5")
            label(for="title")=__('Firm name')
            input(type="text",class="form-control",value=client.firm,name="firm")
        div(class="form-group col-md-3")
            label(for="title")=__('Street name')+'*'
            input(type="text",class="form-control",value=client.street,name="street")
        div(class="form-group col-md-2")
            label(for="title")=__('Street number')
            input(type="text",class="form-control",value=client.streetNr,name="streetNr")
        div(class="col-md-2")
        div(class="form-group col-md-2")
            label(for="title")=__('VAT number')
            input(type="text",class="form-control",value=client.vat,name="vat")
        div(class="form-group col-md-2")
            label(for="title")=__('VAT percentage')
            input(type="text",class="form-control",step="any",value=(client.vatPercentage)?client.vatPercentage:settings.vatPercentage,name="vatPercentage",required="true")
        div(class="form-group col-md-2")
            label(for="title")=__('Account number')
            input(type="text",class="form-control",value=client.bankNr,name="bankNr")
        div(class="form-group col-md-1")
            label(for="title")=__('Postal')
            input(type="number",class="form-control",value=client.postalCode,name="postalCode")
        div(class="form-group col-md-2")
            label(for="title")=__('Place')+'*'
            input(type="text",class="form-control",value=client.place,name="place" required)
        div(class="form-group col-md-2")
        div.field_wrapper(class="form-group col-md-4")
            label(for="title") #{__('E-mails')}
            div
                input(type="text",class="form-control",value=(client.email) ? client.email[0] : '', name="emails[]",placeholder="voorbeeld@email.be")
        div.form-group.col-md-1
            a(href="javascript:void(0);" class="add_button" title="Add field")
                span.fa-color-buttons
                    i.fas.fa-plus-square.fa-2x
    hr
    button(type="submit",class="btn btn-outline-" + settings.theme)=__('Update')