
form(action='/edit'+((invoice.creditNr)?"/credit/":((invoice.offerNr)?"/offer/":"/invoice/"))+invoice._id,method='post')
    script(src="/datepicker/nl.js")
    script.
        $(function () {
            $("#datepicker").datepicker($.datepicker.regional["#{settings.locale}".substring(0,2)]);
            $("#datepicker2").datepicker($.datepicker.regional["#{settings.locale}".substring(0,2)]);
        });
    include ../scripts/setStatus
    div(class="form-row")
        div(class="form-group col-md-3")
            label(for="title")=__("Date")
            input#datepicker(type="text",class="form-control",name="date")
        if invoice.invoiceNr
            div(class="form-group col-md-3")
                label(for="title")=__('Pay date')
                input#datepicker2(type="text",class="form-control",name="datePaid")
            div(class="form-group col-md-2")
                label(for="title")=__('Invoice number')
                input(type="number",class="form-control",value=invoice.invoiceNr,name="invoiceNr")
        if invoice.offerNr
            div(class="form-group col-md-2")
                label(for="title")=__('Offer number')
                input(type="number",class="form-control",value=invoice.offerNr,name="offerNr")
        if invoice.creditNr
            div(class="form-group col-md-2")
                label(for="title")=__('Credit number')
                input(type="number",class="form-control",value=invoice.creditNr,name="creditNr")
        div(class="form-group col-md-2")
            label(for="title")=__('Advance')
            input(type="number",class="form-control",value=invoice.advance,name="advance",step="any")
        div.col-1.form-group
            if invoice.invoiceNr
                label(for="status")=__("status")
                    div(class="custom-control custom-switch")
                        if invoice.isPaid
                            input(type="checkbox" class="custom-control-input bg-success" id=invoice._id, onclick='setStatus(\"' + invoice._id + '\")', checked)
                            label(class="custom-control-label" for=invoice._id) #{__('Paid')}
                        if !invoice.isPaid
                            input(type="checkbox" class="custom-control-input bg-danger" id=invoice._id, onclick='setStatus(\"' + invoice._id + '\")')
                            label(class="custom-control-label" for=invoice._id) #{__('Unpaid')}
            else if invoice.offerNr
                label(for="status")=__("status")
                    div(class="custom-control custom-switch")
                        if invoice.isAgreed
                            input(type="checkbox" class="custom-control-input bg-success" id=invoice._id, onclick='setAgreedStatus(\"' + invoice._id + '\")', checked)
                            label(class="custom-control-label" for=invoice._id) #{__('Agreed')}
                        if !invoice.isAgreed
                            input(type="checkbox" class="custom-control-input bg-danger" id=invoice._id, onclick='setAgreedStatus(\"' + invoice._id + '\")')
                            label(class="custom-control-label" for=invoice._id) #{__('Not agreed')}
        div.form-row
            div(class="col-10 input-group mb-3")
                div(class="input-group-prepend")
                    span(class="input-group-text") #{__('Description')}
                textarea(style="resize:none;" input="text",name="description",class="form-control" cols="94" maxrows="5" maxlength="390" wrap="HARD" rows="6" aria-label="With textarea")=invoice.description

    script.
        //date is done via DOM, the locale cannot be set right when using pug
        let id = "date"+"#{invoice.invoiceNr}";
        let date = new Date("#{invoice.date}").toLocaleString("#{settings.locale}", {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
        });
        document.getElementById("datepicker").value = date;
        if("#{invoice.datePaid}"!==""){
            let datePaid = new Date("#{invoice.datePaid}").toLocaleString("#{settings.locale}", {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric'
            });
            document.getElementById("datepicker2").value = datePaid;
        }


    hr
    button(type="submit",class="btn btn-outline-"+settings.theme)=__('Update')