//- V1.6
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script.
      function show_mail1(){
        $('#mail1').show();
        $('#col3_1').hide();
        $('#extra_mail1').hide();
        $('#extra_mail2').show();
        $('#col10').show();
      }
      function show_mail2(){
        $('#mail2').show();
        $('#col10').hide();
        $('#col7').show();
        $('#extra_mail2').hide();
      }
  body
    header
      nav(class="navbar navbar-expand-sm navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/') Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile') Mijn profiel    
            li(class="nav-item")
              a(class="nav-link active", href='/settings') Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken" method="post")
                  input(class="form-control" type="search" placeholder="zoeken" aria-label="Search" name="search")
    main
      div(class="jumbotron")
        p(class="lead") contact toevoegen
          hr
          form(action='/add-contact',method='post')
            p=msg
            div(class="form-row")
              div(class="form-group col-md-5")
                label(for="title") Contact persoon *
                input(type="text",class="form-control",name="contactPersoon" required)    
              div(class="form-group col-md-2")          
              div(class="form-group col-md-5")
                label(for="title") Firma
                input(type="text",class="form-control",name="firma")
              div(class="form-group col-md-3")
                label(for="title") Straatnaam *
                input(type="text",class="form-control",name="straat" required)                                
              div(class="form-group col-md-2")
                label(for="title") Straat Nr
                input(type="text",class="form-control",name="straatNr")
              div(class="col-md-2")
              div(class="form-group col-md-3")
                label(for="title") E-mail
                input(type="text",class="form-control",name="mail",placeholder="voorbeeld@email.be")
              div(class="form-group col-md-2")
                label(for="title") BTW-nummer
                input(type="text",class="form-control",name="btwNr")
              div(class="form-group col-md-2")
                label(for="title") Postcode
                input(type="number",class="form-control",name="postcode")
              div(class="form-group col-md-3")
                label(for="title") Plaatsnaam *
                input(type="text",class="form-control",name="plaats" required)
              div(class="col-md-2")
              div(id="col3_1", class="form-group col-md-3")
              div(id="mail1" class="form-group col-md-3" style="display:none;")
                label(for="title") E-mail 2
                input(type="text", class="form-control",name="mail1", placeholder="voorbeeld@email.be")
              div(class="form-group col-md-2", id="extra_mail1")
                label(for="title")=" "
                button(type="button",onclick="show_mail1()",class="btn btn-#{settings.oppo} btn-sm btn-block") extra e-mail
              div(id="col10", class="form-group col-md-10" style="display:none;")
              div(id="col7", class="form-group col-md-7" style="display:none;")
              div(id="mail2" class="form-group col-md-3" style="display:none;")
                label(for="title") E-mail 3
                input(type="text", class="form-control",name="mail2", placeholder="voorbeeld@email.be")
              div(class="form-group col-md-2", id="extra_mail2" style="display:none;")
                label(for="title")=" "
                button(type="button",onclick="show_mail2()",class="btn btn-#{settings.oppo} btn-sm btn-block") extra e-mail
            hr
            button(type="submit",class="btn btn-#{settings.oppo}") toevoegen
