
//- V1.6
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="https://www.chartjs.org/samples/latest/utils.js")
  body
    header
      nav(class="navbar navbar-expand-sm navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/') Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile') Mijn profiel    
            li(class="nav-item")
              a(class="nav-link active", href='/settings') Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken" method="post")
                  input(class="form-control" type="search" placeholder="zoeken" aria-label="Search" name="search")
    main
        hr
        div(class="row")
          div(class="col-2")
          div(class="col-2")
            a(class="button" href="/chart/"+String(Number(jaar)-1))
              if settings.thema == "light"
                  button(type="button",class="btn btn-#{settings.oppo} btn-sm btn-block")=jaar-1
              if settings.thema != "light"
                  button(type="button",class="btn btn-#{settings.thema} btn-sm btn-block")=jaar-1
          div(class="col-2")
          div(class="col-2")
            h4=jaar
          div(class="col-1")
          div(class="col-2")
            a(class="button" href="/chart/"+String(Number(jaar)+1))
              if settings.thema == "light"
                  button(type="button",class="btn btn-#{settings.oppo} btn-sm btn-blocks")=String(Number(jaar)+1)
              if settings.thema != "light"
                  button(type="button",class="btn btn-#{settings.thema} btn-sm btn-block")=String(Number(jaar)+1)
        canvas(id="myChart" width="100%" height="40%")
        script.
          var ctx = document.getElementById('myChart').getContext('2d');
          var maand = ["Januari", "Februari", "Maart", "April", "Mei", "Juni", "Juli", "Augustus", "September", "Oktober", "November", "December"];
          var color = Chart.helpers.color;
          var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [maand[0], maand[1], maand[2], maand[3], maand[4], maand[5], maand[6], maand[7], maand[8], maand[9], maand[10], maand[11]],
              datasets: [{
                  label: 'Exlc. btw €',
                  data: [#{totaal[0]},#{totaal[1]}, #{totaal[2]}, #{totaal[3]}, #{totaal[4]}, #{totaal[5]}, #{totaal[6]}, #{totaal[7]}, #{totaal[8]}, #{totaal[9]}, #{totaal[10]}, #{totaal[11]}],
                  backgroundColor: color(window.chartColors.red).alpha(1).rgbString(),
                  borderColor: window.chartColors.red,
                  borderWidth: 1
              },{
                  label: 'Incl. btw €',
                  data: [#{totaal[0]}*1.21,#{totaal[1]}*1.21, #{totaal[2]}*1.21, #{totaal[3]}*1.21, #{totaal[4]}*1.21, #{totaal[5]}*1.21, #{totaal[6]}*1.21, #{totaal[7]}*1.21, #{totaal[8]}*1.21, #{totaal[9]}*1.21, #{totaal[10]}*1.21, #{totaal[11]}*1.21],
                  backgroundColor: color(window.chartColors.blue).alpha(1).rgbString(),
                  borderColor: window.chartColors.blue,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
          });
