html
    head
        include includes/htmlHead

    body(onpageshow='drawChart(['+total+'])')
        header
            include includes/topBar

            div(class="container-fluid")
                div(class ="row")
                    nav(class="col-md-2 d-none d-md-block bg-light sidebar").fixed
                        div(class="sidebar-sticky")
                            include includes/mainMenu
                            include includes/downMenu
                    main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
                        div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
                            h1(class="h2") #{__('Chart for')} #{" "+year}
                            div(class="btn-group dropleft mb-2 mb-md-0")
                                button(type="button" class="btn btn-sm btn-outline-"+settings.theme+" dropdown-toggle", data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                                    i.fas.fa-calendar-alt.not-nav-fas
                                    span=year
                                div(class="dropdown-menu")
                                    a(class="dropdown-item" href="/dashboard/chart/"+String(year-2))=year-2
                                    a(class="dropdown-item" href="/dashboard/chart/" + String(year - 1))=year - 1
                                    a(class="dropdown-item active" href="/dashboard/chart/" + year  )=year
                                    a(class="dropdown-item" href="/dashboard/chart/" + String(Number(year) + Number(1)))=String(Number(year) + Number(1))
                                    a(class="dropdown-item" href="/dashboard/chart/" + String(Number(year) + Number(2)))=String(Number(year) + Number(2))
                        canvas(class="my-4 w-100" id="myChart" width="900" height="380")

        script.
            $(document).ready(function () {
                feather.replace();
            });
            function drawChart(totaal) {
                var ctx = document.getElementById('myChart').getContext('2d');
                var maand = ["#{__('January')}", "#{__('February')}", "#{__('March')}", "#{__('April')}", "#{__('May')}", "#{__('June')}", "#{__('July')}", "#{__('August')}", "#{__('September')}", "#{__('November')}", "#{__('October')}", "#{__('December')}"];
                var color = Chart.helpers.color;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [maand[0], maand[1], maand[2], maand[3], maand[4], maand[5], maand[6], maand[7], maand[8], maand[9], maand[10], maand[11]],
                        datasets: [{
                            label: 'Exlc. btw €',
                            data: [totaal[0], totaal[1], totaal[2], totaal[3], totaal[4], totaal[5], totaal[6], totaal[7], totaal[8], totaal[9], totaal[10], totaal[11]],
                            backgroundColor: color(window.chartColors.red).alpha(1).rgbString(),
                            borderColor: window.chartColors.red,
                            borderWidth: 1
                        }, {
                            label: 'Incl. btw €',
                            data: [totaal[0] * 1.21, totaal[1] * 1.21, totaal[2] * 1.21, totaal[3] * 1.21, totaal[4] * 1.21, totaal[5] * 1.21, totaal[6] * 1.21, totaal[7] * 1.21, totaal[8] * 1.21, totaal[9] * 1.21, totaal[10] * 1.21, totaal[11] * 1.21],
                            backgroundColor: color(window.chartColors.blue).alpha(1).rgbString(),
                            borderColor: window.chartColors.blue,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
            function changeBetaald(id, contact, loginHash) {
                if (contact === "undefined") {
                    window.location = "/change-betaald2/" + id + "/" + loginHash;
                } else {
                    window.location = "/change-betaald/" + id + "/" + loginHash;
                }
            }
    include includes/modals/bugReporter