html
    head
        title=title
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    body
      header
        nav(class="navbar navbar-expand navbar-#{settings.nav} bg-#{settings.thema}")
          div(class="collapse navbar-collapse", id="navbarNav")  
            ul(class="navbar-nav mr-auto")
              li(class="nav-item")
                    a(class="nav-link active" , href='/') Home
              li(class="nav-item")
                  a(class="nav-link active", href='/edit-profile') Mijn profiel    
              li(class="nav-item")
                  a(class="nav-link active", href='/settings') Settings
              li(class="nav-item")
                  a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                    img(width="100", height="24", src="/basecone.png", alt="basecone")
            span(class="navbar-text")
              button(type="button", class="btn btn-light btn-sm", disabled)=description
      main
        div(class="jumbotron")
                div(class="row no-gutters")
                  div(class="col-9 mr-auto")
                  div(class="col-2")
                    a(href='/',class="button")
                      if settings.thema == "light"
                        button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
                      if settings.thema != "light"
                        button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
                hr
                form(action='/edit-profile/'+profile._id,method='post')
                    div(class="form-row")
                      div(class="form-group col-md-5")
                              label(for="title") Naam
                              input(type="text",class="form-control",value=profile.naam,name="naam",placeholder="Jan Janssens")
                      div(class="form-group col-md-3")  
                      div(class="form-group col-md-4")
                              label(for="title") Firma naam
                              input(type="text",class="form-control",value=profile.firma,name="firma",placeholder="firma en co.")
                      div(class="form-group col-md-3")
                              label(for="title") Straatnaam
                              input(type="text",class="form-control",value=profile.straat,name="straat",placeholder="grotestraat")                                
                      div(class="form-group col-md-2")
                              label(for="title") Straat Nr
                              input(type="number",class="form-control",value=profile.straatNr,name="straatNr",placeholder="12")
                      div(class="form-group col-md-3") 
                      div(class="form-group col-md-2")
                              label(for="title") BTW-nummer
                              input(type="text",class="form-control",value=profile.btwNr,name="btwNr",placeholder="BE 0000.000.000")
                      div(class="form-group col-md-2")
                              label(for="title") IBAN-nr
                              input(type="text",class="form-control",value=profile.iban,name="iban",placeholder="BE77 7777 7777 7777")
                      div(class="form-group col-md-2")
                              label(for="title") Postcode
                              input(type="number",class="form-control",value=profile.postcode,name="postcode",placeholder="1234")
                      div(class="form-group col-md-3")
                              label(for="title") Plaatsnaam
                              input(type="text",class="form-control",value=profile.plaats,name="plaats",placeholder="Gent")
                      div(class="form-group col-md-3")
                      div(class="form-group col-md-2")
                              label(for="title") BIC-nr
                              input(type="text",class="form-control",value=profile.bic,name="bic",placeholder="KREDBEBB") 
                      div(class="form-group col-md-2")
                              label(for="title") Factuur nr:
                              input(type="text",class="form-control",value=nr,name="nr")
                      div(class="form-group col-md-3")
                              label(for="title") E-mail
                              input(type="text",class="form-control",value=profile.mail,name="mail",placeholder="voorbeel@email.be")
                      div(class="form-group col-md-2")
                              label(for="title") Telefoon nummer
                              input(type="text",class="form-control",value=profile.tele,name="tele",placeholder="0487654321")
                    hr
                    button(type="submit",class="btn btn-#{settings.oppo}") bijwerken
