html
    head
        title=title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    body
          header          
                  button(type="button",class="btn btn-outline-primary")
                      a(class="nav-link",href='/') Home
                  button(type="button",class="btn btn-outline-primary")
                      a(class="nav-link",href='/edit-profile') Mijn profiel
          div(class="jumbotron")
            p(class="lead") contact aanpassen
                hr
                form(action='/edit-contact/'+contact._id,method='post')
                    p=msg
                    div(class="form-row")
                      div(class="form-group col-md-6")
                              label(for="title") firma
                              input(type="text",class="form-control",value=contact.firma,name="firma")
                      div(class="form-group col-md-6")
                              label(for="title") contact persoon
                              input(type="text",class="form-control",value=contact.contactPersoon,name="contactPersoon")                                
                      div(class="form-group col-md-6")
                              label(for="title") straatnaam
                              input(type="text",class="form-control",value=contact.straat,name="straat")                                
                      div(class="form-group col-md-6")
                              label(for="title") straat nr
                              input(type="number",class="form-control",value=contact.straatNr,name="straatNr")
                      div(class="form-group col-md-6")
                              label(for="title") postcode
                              input(type="number",class="form-control",value=contact.postcode,name="postcode")
                      div(class="form-group col-md-6")
                              label(for="title") plaatsnaam
                              input(type="text",class="form-control",value=contact.plaats,name="plaats")
                      div(class="form-group col-md-6")
                              label(for="title") btw-nummer
                              input(type="text",class="form-control",value=contact.btwNr,name="btwNr")
                    button(type="submit",class="btn btn-primary") bijwerken
