html
    head
        title=title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    body
      header          
        a(class="button",href='/')
          button(style="margin:.75%",type="button",class="btn btn-outline-primary") Home
        a(class="button",href='/edit-profile')
          button(style="margin:.75%",type="button",class="btn btn-outline-primary") Mijn profiel
        a(style="max-width:10%;max-height:5%",href="https://identity.basecone.com/authentication/login")
          img(style="max-width:8%;max-height:5%",src="https://www.itjobs.pt/empresa/basecone/logo/social", alt="basecone")
      main
        div(class="jumbotron")
              p(class="lead")=description
                hr
                form(action='/edit-bestelling/'+bestelling._id,method='post')
                    p=msg
                    div(class="form-row")
                      div(class="form-group col-md-6")
                              label(for="title") beschrijving
                              input(type="text",class="form-control",value=bestelling.beschrijving,name="beschrijving", required)
                      div(class="form-group col-md-6")
                              label(for="title") aantal
                              input(type="number",class="form-control",value=bestelling.aantal,name="aantal", required)                                
                      div(class="form-group col-md-6")
                              label(for="title") bedrag voor één
                              input(type="String",class="form-control",value=bestelling.bedrag,name="bedrag", required)
                    button(type="submit",class="btn btn-primary") bijwerken
