//- tasks.jade
html
    head
        title=title
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    body
      header
        nav(class="navbar navbar-expand-lg navbar-light bg-secondary")
          div(class="collapse navbar-collapse", id="navbarNav")  
            ul(class="navbar-nav mr-auto")
              li(class="nav-item")
                    a(class="nav-link", href='/') Home
              li(class="nav-item")
                  a(class="nav-link", href='/edit-profile') Mijn profiel    
              li(class="nav-item")
                  a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                    img(width="100", height="24", src="/basecone.png", alt="basecone")
            span(class="navbar-text")
              button(type="button", class="btn btn-light btn-sm", disabled)=description
      main
          div(class="jumbotron")
            div(class="row no-gutters")
              div(class="col-9 mr-auto")
                a(href='/add-factuur/'+contact._id,class="button")
                  button(type="button",id="knop", class="btn btn-secondary btn-lg btn-block")  Nieuwe Factuur
              div(class="col-2")
                a(href='/',class="button")
                  button(type="button",class="btn btn-secondary btn-lg btn-block") terug
          
            table(class="table table-striped")
                  tr
                    th(scope="col") Factuur
                    //th  
                    th(scope="col") Bestellingen
                    th(scope="col") Acties
                        each factuur in facturenLijst
                            tr
                                td
                                  a(href='/view-factuur/'+factuur._id, class="button")
                                    button(type="button" class="btn btn-light" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr

                                //td
                                  input(class="form-check-input" type="checkbox" id="#{factuur._id}" onclick="knop()")
                                  script.
                                    var id = "#{factuur._id}";
                                    var isBetaald = Boolean(#{factuur.isBetaald});
                                    console.log(isBetaald);
                                    if(isBetaald){
                                      document.getElementById("#{factuur._id}").checked = true;
                                      }else{
                                        document.getElementById("#{factuur._id}").checked = false;
                                      }
                                      function knop(){
                                        console.log("setting window location to: /change-betaald/"+id);
                                        window.location="/change-betaald/"+id;
                                      }
                                      
                                td 
                                  a(role="button", class="btn btn-secondary btn-sm", href='/bestellingen/'+factuur._id) bestellingen
                                td
                                  a(role="button", class="btn btn-secondary btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                                  div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                                    a(class="dropdown-item",href='/edit-factuur/'+contact._id+'/'+factuur._id) aanpassen
                                    a(class="dropdown-item", href='/delete-factuur/'+contact._id+'/'+factuur._id) verwijder
                                    //a(class="dropdown-item", href='/view-factuur/'+factuur._id,class="button") bekijk
                                    a(class="dropdown-item", href='/createPDF/'+factuur._id,id="target",target="_blank") maak pdf
