//- V1.6
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    header
      nav(class="navbar navbar-expand navbar-#{settings.nav} bg-#{settings.thema}")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/') Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile') Mijn profiel    
            li(class="nav-item")
              a(class="nav-link active", href='/settings') Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            button(type="button", class="btn btn-light btn-sm", disabled)
              h6=description
    main
      div(class="jumbotron")
        div(class="row no-gutters")
          if contact
            div(class="col-4 mr-auto")
              a(href='/add-factuur/'+contact._id,class="button")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  Nieuwe Factuur
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  Nieuwe Factuur
            div(class="col-4 mr-auto")
              a(href='/add-offerte/'+contact._id,class="button")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  Nieuwe Offerte
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  Nieuwe Offerte
          div(class="col-2")
            if contact 
              if !terug
                a(href='/contacten',class="button")
                  if settings.thema == "light"
                    button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
                  if settings.thema != "light"
                    button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
              else
                a(href='/facturen',class="button")
                  if settings.thema == "light"
                    button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
                  if settings.thema != "light"
                    button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
            else
              a(href='/',class="button")
                if settings.thema == "light"
                  button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
                if settings.thema != "light"
                  button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
        hr
        if settings.thema == "dark" || settings.thema == "danger" || settings.thema == "info"
          table(class="table table-#{settings.oppo} table-striped")
            tr
              th(scope="col") Factuur
              if !contact
                th(scope="col") Contact persoon
              th
              th(scope="col") Acties
                each factuur in facturenLijst
                  tr
                    td
                      if factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id, class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t', class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                      if factuur.offerteNr && !factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id, class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t', class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                    if !contact
                      td
                        if factuur.contactPersoon == "Update deze factuur!"
                          a(href='/updateFactuur/'+factuur._id, class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="Klik hier om deze factuur up te daten")=factuur.contactPersoon
                        else
                          a(href='/facturen/'+factuur.contact+"/t", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="Ga naar deze persoon's facturen")=factuur.contactPersoon

                    if factuur.factuurNr      
                      td
                        if contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald/"+"#{factuur._id}";
                            }
                        if !contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald2/"+"#{factuur._id}";
                            }
                        div(class="custom-control custom-switch")
                          if factuur.isBetaald
                            input(type="checkbox" class="custom-control-input" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()" checked)
                            label(class="custom-control-label" for="#{factuur._id}") Betaald
                          if !factuur.isBetaald
                            input(type="checkbox" class="custom-control-input" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()")
                            label(class="custom-control-label" for="#{factuur._id}") Niet betaald
                    else
                      td
                    td
                      a(role="button", class="btn btn-#{settings.thema} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                      div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                        if !contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+'/t') aanpassen
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+'/t') verwijder
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/t",class="button") bekijk
                        if contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id) aanpassen
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id) verwijder
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id,class="button") bekijk
                        div(class="dropdown-divider")
                        if factuur.factuurNr
                          a(class="dropdown-item", href='/createPDF/'+factuur._id,id="target",target="_blank") download factuur
                        if factuur.offerteNr
                          a(class="dropdown-item", href='/offerte/'+factuur._id,id="target",target="_blank") download offerte
                          if !factuur.factuurNr
                            div(class="dropdown-divider")
                            if contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id,class="button") opwaardeer naar factuur
                            if !contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/t",class="button") opwaardeer naar factuur
        else
          table(class="table table-#{settings.thema} table-striped")
            tr
              th(scope="col") Factuur
              if !contact
                th(scope="col") Contact persoon
              th
              th(scope="col") Acties
                each factuur in facturenLijst
                  tr
                    td
                      if factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id, class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t', class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                      if factuur.offerteNr && !factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id, class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t', class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                    if !contact
                      td
                        if factuur.contactPersoon == "Update deze factuur!"
                          a(href='/updateFactuur/'+factuur._id, class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="Klik hier om deze factuur up te daten")=factuur.contactPersoon
                        else
                          a(href='/facturen/'+factuur.contact+"/t", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="Ga naar deze persoon's facturen")=factuur.contactPersoon
                    if factuur.factuurNr
                      td
                        if contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald/"+"#{factuur._id}";
                            }
                        if !contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald2/"+"#{factuur._id}";
                            }
                        div(class="custom-control custom-switch")
                          if factuur.isBetaald
                            input(type="checkbox" class="custom-control-input bg-success" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()" checked)
                            label(class="custom-control-label" for="#{factuur._id}") Betaald
                          if !factuur.isBetaald
                            input(type="checkbox" class="custom-control-input bg-success" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()")
                            label(class="custom-control-label" for="#{factuur._id}") Niet betaald
                    else
                      td
                    td
                      a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                      div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                        if !contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+'/t') aanpassen
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+'/t') verwijder
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/t",class="button") bekijk
                        if contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id) aanpassen
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id) verwijder
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id,class="button") bekijk
                        div(class="dropdown-divider")
                        if factuur.factuurNr
                          a(class="dropdown-item", href='/createPDF/'+factuur._id,id="target",target="_blank") download factuur
                        if factuur.offerteNr
                          a(class="dropdown-item", href='/offerte/'+factuur._id,id="target",target="_blank") download offerte
                          if !factuur.factuurNr
                            div(class="dropdown-divider")
                            if contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id,class="button") opwaardeer naar factuur
                            if !contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/t",class="button") opwaardeer naar factuur
