//- V1.8
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    header
      nav(class="navbar navbar-expand-x1 navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/index/#{loginHash}') Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile/#{loginHash}') Mijn profiel    
            li(class="nav-item")
              a(class="nav-link active", href='/settings/#{loginHash}') Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken/#{loginHash}" method="post")
                  input(class="form-control" type="search" placeholder="zoeken" aria-label="Search" name="search")

    main
      div(class="jumbotron")
        div(class="row no-gutters")
          if contact
            a(role="button", class="btn btn-#{settings.oppo} btn-lg col-4 mr-auto dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Maak
            div(class="dropdown-menu col-4 mr-auto", aria-labelledby="actionsDropdown")
              a(href='/add-factuur/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  Nieuwe Factuur
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  Nieuwe Factuur
              a(href='/add-offerte/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  Nieuwe Offerte
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  Nieuwe Offerte
              a(href='/add-creditnota/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  Nieuwe Creditnota
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  Nieuwe Creditnota
              a(href='/add-project/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  Nieuw Project
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  Nieuw Project
          div(class="col-2")
            if contact 
              if !terug
                a(href='/contacten/#{loginHash}',class="button")
                  if settings.thema == "light"
                    button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
                  if settings.thema != "light"
                    button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
              else
                a(href='/facturen/#{loginHash}',class="button")
                  if settings.thema == "light"
                    button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
                  if settings.thema != "light"
                    button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
            else
              a(href='/index/#{loginHash}',class="button")
                if settings.thema == "light"
                  button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
                if settings.thema != "light"
                  button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
        hr
        if settings.thema == "dark" || settings.thema == "danger" || settings.thema == "info"
          table(class="table table-#{settings.oppo} table-striped")
            tr
              th(scope="col") Factuur
              if !contact
                th(scope="col") Contact persoon
              th(scope="col") Datum
              th
              th(scope="col") Acties
                each factuur in facturenLijst
                  tr
                    td
                      if factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t'+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                      if factuur.offerteNr && !factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t'+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                      if factuur.creditnr
                        a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                          button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Creditnota "+factuur.creditnr
                      if !contact
                        td
                          if factuur.contactPersoon == "Update deze factuur!"
                            a(href='/updateFactuur/'+factuur._id+"/#{loginHash}", class="button")
                              button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="Klik hier om deze factuur up te daten")=factuur.contactPersoon
                          else
                            a(href='/facturen/'+factuur.contact+"/t"+"/#{loginHash}", class="button")
                              button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="Ga naar deze persoon's facturen")=factuur.contactPersoon
                      td
                        p(class="lead")=factuur.datum
                      if factuur.factuurNr      
                        td
                          if contact
                            script.
                              var id = "#{factuur._id}";
                              function K#{factuur.factuurNr}(){
                                window.location="/change-betaald/"+"#{factuur._id}/#{loginHash}";
                              }
                          if !contact
                            script.
                              var id = "#{factuur._id}";
                              function K#{factuur.factuurNr}(){
                                window.location="/change-betaald2/"+"#{factuur._id}/#{loginHash}";
                              }
                          div(class="custom-control custom-switch")
                            if factuur.isBetaald
                              input(type="checkbox" class="custom-control-input" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()" checked)
                              label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)+"€ ,  Betaald"
                            if !factuur.isBetaald
                              input(type="checkbox" class="custom-control-input" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()")
                              label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)+"€ ,  Openstaand"
                      else
                        td
                      td
                        a(role="button", class="btn btn-#{settings.thema} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                        div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                          if !contact
                            a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+'/t'+"/#{loginHash}") aanpassen
                            a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+'/t'+"/#{loginHash}") verwijder
                            a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/t",class="button"+"/#{loginHash}") bekijk
                          if contact
                            a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") aanpassen
                            a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") verwijder
                            a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/#{loginHash}",class="button") bekijk
                          div(class="dropdown-divider")
                          if factuur.creditnr
                            a(class="dropdown-item", href='/creditnota/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download creditnota
                          if factuur.factuurNr
                            a(class="dropdown-item", href='/createPDF/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download factuur (nl)
                            a(class="dropdown-item", href='/createPDF-eng/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download factuur (eng)
                          if factuur.offerteNr
                            a(class="dropdown-item", href='/offerte/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download offerte
                            if !factuur.factuurNr
                              div(class="dropdown-divider")
                              if contact
                                a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/#{loginHash}",class="button") opwaardeer naar factuur
                              if !contact
                                a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/t/#{loginHash}",class="button") opwaardeer naar factuur
        else
          table(class="table table-#{settings.thema} table-striped")
            tr
              th(scope="col") Factuur
              if !contact
                th(scope="col") Contact persoon
              th(scope="col") Datum
              th
              th(scope="col") Acties
                each factuur in facturenLijst
                  tr
                    td
                      if factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t/#{loginHash}', class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")=factuur.factuurNr
                      if factuur.offerteNr && !factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t'+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Offerte "+factuur.offerteNr
                      if factuur.creditnr && !factuur.offerteNr && !factuur.factuur.Nr  
                        a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                          button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} met voorschot #{factuur.voorschot} €")="Creditnota "+factuur.creditnr
                    if !contact
                      td
                        if factuur.contactPersoon == "Update deze factuur!"
                          a(href='/updateFactuur/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="Klik hier om deze factuur up te daten")=factuur.contactPersoon
                        else
                          a(href='/facturen/'+factuur.contact+"/t"+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="Ga naar deze persoon's facturen")=factuur.contactPersoon
                    td
                      p(class="lead")=factuur.datum
                    if factuur.factuurNr
                      td
                        if contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald/"+"#{factuur._id}/#{loginHash}";
                            }
                        if !contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald2/"+"#{factuur._id}/#{loginHash}";
                            }
                        div(class="custom-control custom-switch")
                          if factuur.isBetaald
                            input(type="checkbox" class="custom-control-input bg-success" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()" checked)
                            label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)	+"€ ,  Betaald"
                          if !factuur.isBetaald
                            input(type="checkbox" class="custom-control-input bg-success" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()")
                            label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)+"€ ,  Openstaand"
                    else
                      td
                    td
                      a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                        div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                        if !contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+'/t/#{loginHash}') aanpassen
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+'/t/#{loginHash}') verwijder
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/t/#{loginHash}",class="button") bekijk
                        if contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") aanpassen
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") verwijder
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/#{loginHash}",class="button") bekijk
                        div(class="dropdown-divider")
                        if factuur.creditnr
                          a(class="dropdown-item", href='/creditnota/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download creditnota 
                        if factuur.factuurNr
                          a(class="dropdown-item", href='/createPDF/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download factuur (nl)
                          a(class="dropdown-item", href='/createPDF-eng/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download factuur (eng)
                        if factuur.offerteNr
                          a(class="dropdown-item", href='/offerte/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download offerte
                          if !factuur.factuurNr
                            div(class="dropdown-divider")
                            if contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/#{loginHash}",class="button") opwaardeer naar factuur
                            if !contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/t/#{loginHash}",class="button") opwaardeer naar factuur
