html
  head
    include includes/htmlHead
    script(src = "/sorters.js")
    script.
      $(document).ready(function () {
        function toonBerekeningen() {
          $("#berekeningen").toggle();
        }
      });
  body
    include includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include includes/navFlexCollumn
            include includes/invoiceOptionMenu
            include includes/bookmarks
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          if !client
            h2(class="pt-3") #{__('All invoices')}
          else
            h2(class="pt-3") #{__('All invoices of')} #{client.clientName}
          div(class="headExtend")
            div(class="btn-group dropleft mb-2 mb-md-0")
              button(type="button" class="btn btn-sm btn-outline-"+settings.theme+" dropdown-toggle", data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                span(data-feather="bar-chart")
                span #{__('sort')}
              div(class="dropdown-menu")
                a(class="dropdown-item" onclick="sortTable(0)") #
                if !client
                  a(class="dropdown-item" onclick="sortTable(1)") #{__('Client')}
                if client
                  a(class="dropdown-item" onclick="sortTable(1,\"date\")") #{__('Date')}
                if !client
                  a(class="dropdown-item" onclick="sortTable(2,\"date\")") #{__('Date')}
                if client
                  a(class="dropdown-item" onclick="sortTable(2,\"kost\")") #{__('Price')}
                if !client
                  a(class="dropdown-item" onclick="sortTable(3,\"kost\")") #{__('Price')}
          div(class="table-responsive bigger")
            include includes/tables/invoices
          include includes/scripts/feather
          include includes/scripts/setStatus
