//- V1.6
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body
    header
      nav(class="navbar navbar-expand-sm navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/') Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile') Mijn profiel    
            li(class="nav-item")
              a(class="nav-link active", href='/settings') Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken" method="post")
                  input(class="form-control" type="search" placeholder="zoeken" aria-label="Search" name="search")
    main
      div(class="jumbotron")
        div(class="row no-gutters")
          div(class="col-9 mr-auto")
          div(class="col-2")
            a(href='/berekeningen',class="button")
              if settings.thema == "light"
                button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") terug
              if settings.thema != "light"
                button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") terug
        hr 
        div(class="row")
          div(class="col-2")
          div(class="col-4 mr-auto")
            h5 Berekening Siliconen
          div(class="col-2")
          div(class="col-4 mr-auto")
            h5 Berekening Epoctie
          div(class="col-3")
            p(class="lead") ( #{L}" * #{B}" * #{H}" ) * 0.0185 = #{As.toFixed(2)} kg
          div(class="col-3") 
            p(class="lead") #{Dos.toFixed(2)} kg - #{As.toFixed(2)} kg = #{Ds.toFixed(2)} kg
          div(class="col-3")
            p(class="lead") ( #{L}" * #{B}" * #{H}" ) * 0.0185 = #{As.toFixed(2)} kg
          div(class="col-3") 
            p(class="lead") #{Doe.toFixed(2)} kg - #{Ae.toFixed(2)} kg = #{De.toFixed(2)} kg
          div(class="col-3")  
            p(class="lead") ( #{Ls}" * #{Bs}" * #{Hs}" ) * 0.0185 = #{Dos.toFixed(2)} kg
          div(class="col-3") 
            p(class="lead") #{W} €/uur * ( 1/2.23 kg/uur ) + 13.50 €/uur * #{Ms.toFixed(2)} kg = #{Pts.toFixed(2)} €
          div(class="col-3")  
            p(class="lead") ( #{Le.toFixed(2)}" * #{Be.toFixed(2)}" * #{He.toFixed(2)}" ) * 0.0185 = #{Doe.toFixed(2)} kg
          div(class="col-3") 
            p(class="lead") #{W} €/uur * ( 1/3.50 kg/uur ) + 19.60 €/uur * #{Me.toFixed(2)} kg = #{Pte.toFixed(2)} €
        hr
        div(class="row")  
          div(class="col-5")
          div(class="col-5")
            p(class="lead")  #{Pte.toFixed(2)} € + #{Pts.toFixed(2)} € = #{Pt.toFixed(2)} €
          div(class="col-2")
             
        hr
        div(class="container")
          if settings.thema == "dark" || settings.thema == "danger" || settings.thema == "info"
            table(class="table table-#{settings.oppo} table-striped")
              tbody
                tr
                  th(scope="row") Aantal Siliconen
                  td
                    h4=As.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte object + Siliconen
                  td
                    h4=Dos.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte Siliconen
                  td
                    h4=Ds.toFixed(2)+" kg"
                tr
                  th(scope="row") Prijs Siliconen
                  td
                    h4=Pts.toFixed(2)+" €"
                hr
                tr
                  th(scope="row") Aantal Epoctie
                  td
                    h4=Ae.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte object + Epoctie
                  td
                    h4=Doe.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte epoctie
                  td
                    h4=De.toFixed(2)+ " kg"
                tr
                  th(scope="row") Prijs epoctie
                  td
                    h4=Pte.toFixed(2)+" €"
                tr
                  th(scope="row") Totale Prijs
                  td
                    h2=Pt.toFixed(2)+" €"
          else
            table(class="table table-#{settings.oppo} table-striped")
              tbody
                tr
                  th(scope="row") Aantal Siliconen
                  td
                    h4=As.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte object + Siliconen
                  td
                    h4=Dos.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte Siliconen
                  td
                    h4=Ds.toFixed(2)+" kg"
                tr
                  th(scope="row") Prijs Siliconen
                  td
                    h4=Pts.toFixed(2)+" €"
                hr
                tr
                  th(scope="row") Aantal Epoctie
                  td
                    h4=Ae.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte object + Epoctie
                  td
                    h4=Doe.toFixed(2)+" kg"
                tr
                  th(scope="row") Dikte epoctie
                  td
                    h4=De.toFixed(2)+ " kg"
                tr
                  th(scope="row") Prijs epoctie
                  td
                    h4=Pte.toFixed(2)+" €"
                tr
                  th(scope="row") Totale Prijs
                  td
                    h2=Pt.toFixed(2)+" €"
