//- V1.8
html
  head
    include includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
body
  header
    include includes/topBar

    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include includes/navFlexCollumn
            include includes/bookmarks
            include includes/orderOptionMenu
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          if invoice.invoiceNr
            h2(class="pt-3")="Factuur " + invoice.invoiceNr+" ("+client.clientName+")"
          if invoice.offerNr && !invoice.invoiceNr
            h2(class="pt-3")="Offerte " + invoice.offerNr+" ("+client.clientName+")"
          if invoice.creditNr && !invoice.offerNr && !invoice.invoiceNr
            h2(class="pt-3")="Creditnota " + invoice.creditNr+" ("+client.clientName+")"
          hr
          table(class="table table-striped")
            tr
              th(scope="col") Beschrijving
              th(scope="col") Aantal
              th(scope="col") Bedrag
              th(scope="col") Totaal
              th(scope="col") Acties
            each order in orders
              tr
                td=order.description
                td=order.amount
                td=order.price+" €"
                td=order.total+" €"
                td
                  a(role="button", class="btn btn-outline-"+settings.thema+" btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                  div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                    a(class="dropdown-item", href='/edit/order/'+order._id) aanpassen
                    a(class="dropdown-item", href='/delete/order/'+order._id) verwijder
                    a(class="dropdown-item", href='/view/order/'+order._id) bekijk
