//- V1.8
html
  head
    include includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
      function changeBetaald(id, contact, loginHash) {
        if (contact === "undefined") {
          window.location = "/change-betaald2/" + id + "/" + loginHash;
        } else {
          window.location = "/change-betaald/" + id + "/" + loginHash;
        }
      }
body
  include includes/topBar
  div(class="container-fluid")
    div(class ="row")
      nav(class="col-md-2 d-none d-md-block bg-light sidebar").fixed
        div(class="sidebar-sticky")
          include includes/mainMenu
      main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
        h2(class="pt-3")=description
        if clients.length > 0
          hr
          h4=__('Clients')
          div(class="table-responsive")
            include includes/tables/clients

        if invoices.length != 0
          hr
          h4=__('Invoices')
          div(class="table-responsive")
            include includes/tables/invoices
        if orders.length != 0
          hr
          h4=__("Orders")
          div(class="table-responsive")
            include includes/tables/orders
        if items.length != 0
          hr
          h4=__('Stock')
          div(class="table-responsive")
            include includes/tables/stock
        if orders.length==0 && invoices.length==0 && clients.length==0 && items.length==0
            div(class="alert alert-danger col-lg-8 col-md-10 col-sm-12" role="alert")=__('Nothing was found')
