//- V1.8
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    header
      nav(class="navbar navbar-expand-md navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/index'+"/"+loginHash) Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile'+"/"+loginHash) My profile    
            li(class="nav-item")
              a(class="nav-link active", href='/settings'+"/"+loginHash) Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken"+"/"+loginHash, method="post")
                  input(class="form-control" type="search" placeholder="zoeken" aria-label="Search" name="search")
    main
      div(class="jumbotron")
        div(class="row no-gutters")
          div(class="col-9 mr-auto")
          div(class="col-2")
            a(href='/index'+"/"+loginHash,class="button")
              if settings.thema == "light"
                button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") Back
              if settings.thema != "light"
                button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") Back
        hr
        form(action='/edit-profile/'+profile._id+"/#{loginHash}",method='post')
          div(class="form-row")
            div(class="form-group col-md-5")
              label(for="title") Name
              input(type="text",class="form-control",value=profile.naam,name="naam",placeholder="John Doe")
            div(class="form-group col-md-3")  
            div(class="form-group col-md-4")
              label(for="title") Firm name
              input(type="text",class="form-control",value=profile.firma,name="firma",placeholder="firm inc.")
            div(class="form-group col-md-3")
              label(for="title") Street name
              input(type="text",class="form-control",value=profile.straat,name="straat",placeholder="Highstreet")                                
            div(class="form-group col-md-2")
              label(for="title") Street N°
              input(type="text",class="form-control",value=profile.straatNr,name="straatNr",placeholder="12")
            div(class="form-group col-md-3") 
            div(class="form-group col-md-2")
              label(for="title") VAT N°
              input(type="text",class="form-control",value=profile.btwNr,name="btwNr",placeholder="BTW 0000.000.000")
            div(class="form-group col-md-2")
              label(for="title") IBAN N°
              input(type="text",class="form-control",value=profile.iban,name="iban",placeholder="UK77 7777 7777 7777")
            div(class="form-group col-md-2")
              label(for="title") Postalcode
              input(type="number",class="form-control",value=profile.postcode,name="postcode",placeholder="12345")
            div(class="form-group col-md-3")
              label(for="title") Place
              input(type="text",class="form-control",value=profile.plaats,name="plaats",placeholder="Brussels")
            div(class="form-group col-md-3")
            div(class="form-group col-md-1")
              label(for="title") Invoice N°:
              input(type="text",class="form-control",value=nr,name="nr")
            div(class="form-group col-md-1")
              label(for="title") Offer N°:
              input(typ='text',class='form-control',value=nroff,name="nroff")
            div(class="form-group col-md-1")
              label(for="title") Credit N°:
              input(typ='text',class='form-control',value=nrcred,name="nrcred")
            div(class="form-group col-md-1")
              label(for="title") BIC
              input(type="text",class="form-control",value=profile.bic,name="bic",placeholder="KREDBEBB") 
            div(class="form-group col-md-3")
              label(for="title") E-mail
              input(type="text",class="form-control",value=profile.mail,name="mail",placeholder="mail@example.co.uk")
            div(class="form-group col-md-2")
              label(for="title") Telephone N°
              input(type="text",class="form-control",value=profile.tele,name="tele",placeholder="0032487654321")
          hr
          button(type="submit",class="btn btn-#{settings.oppo}") Make changes
          hr(class="mb-3")
          
        div(class="row no-gutters")    
          div(class="col-md-5")
            a(href="/upload/#{loginHash}")
              button(type="button",class=" btn-#{settings.thema}") Upload logo ...
