//- V1.8
html
  head
    include ../includes/htmlHead
    script.
      function show_mail1(){
        $('#mail1').show();
        $('#col3_1').hide();
        $('#extra_mail1').hide();
        $('#extra_mail2').show();
        $('#col10').show();
      }
      function show_mail2(){
        $('#mail2').show();
        $('#col10').hide();
        $('#col7').show();
        $('#extra_mail2').hide();
      }
      function info() {
        $("#info").toggle();
      };
      $(document).ready(function () {
        feather.replace();
      });
body
    include ../includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include ../includes/navFlexCollumn
            include ../includes/bookmarks
            include ../includes/stockOptionMenu
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3") #{__('Add item')}
          hr
          include ../includes/messages
          form(action='/stock/new/item',method='post')
            div(class="form-row")
              div(class="form-group col-md-8")
                label(for="name") #{__('Name')}
                input(id="name",type="text",class="form-control",name="name", required)
              div(class="form-group col-md-2")
                label(for="price") #{__('Price')}
                input(id="price" type="number",class="form-control",name="price",step=".01" required)
              div(class="form-group col-md-2")
                label(for="amount") #{__('Amount')}
                input(id="amount",type="number",class="form-control",name="amount",step=".01",value="0" required)
            hr
            button(type="submit",class="btn btn-outline-"+settings.theme) #{__('Add')}
