//- V1.8
html
  head
    include ../includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
body
  header
    include ../includes/topBar

    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar").fixed
          div(class="sidebar-sticky")
            include ../includes/mainMenu
            include includes/downMenu
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3")=description
          hr
          include ../includes/messages
          table(class="table table-striped")
            tbody
              tr
                th(scope="row") #{__('Date')}
                td
                  h4(id="date"+invoice.invoiceNr)
              if invoice.invoiceNr
                tr
                  th(scope="row") #{__('Invoice Nr')}
                  td
                    h4=invoice.invoiceNr
              if invoice.offerNr
                tr
                  th(scope="row") #{__('Offer Nr')}
                  td
                    h4=invoice.offerNr
              if invoice.creditNr
                tr
                  th(scope="row") #{__('Credit Nr')}
                  td
                    h4=invoice.creditNr
              tr
                if invoice.advance!= 0
                  th(scope="row") #{__('Advance')}
                  td
                    h4=invoice.advance
              script.
                //date is done via DOM, the locale cannot be set right when using pug
                let id = "date"+"#{invoice.invoiceNr}";
                let date = new Date("#{invoice.date}").toLocaleString("#{settings.locale}", {
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric'
                });
              document.getElementById(id).innerHTML = date;
  include ../includes/modals/bugReporter