//- V1.8
html
  head
    include ../includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
  body
    include ../includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include ../includes/navFlexCollumn
            include ../includes/bookmarks
      main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
        h2(class="pt-3") #{__('View line')}
        hr
        include ../includes/messages
        table(class="table table-striped")
          tbody
            tr
              th(scope="row") #{__('Description')}
              td
                h4=order.description
            tr
              th(scope="row") #{__('Amount')}
              td
                h4=order.amount
            tr
              th(scope="row") #{__('Price')}
              td
                h4=order.price+" €"
            tr
              th(scope="row") #{__('Total')}
              td
                h4=(order.amount*order.price)+" €"
