.modal.fade(id="baseconeModal"+invoice._id , tabindex='-1' role='dialog' aria-labelledby='newDocument' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#bugReporterLabel.modal-title=__("Send this document to Basecone")
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            form(action="/mail/sendToBasecone/" + invoice._id , method="post")
                .modal-body
                    .container-fluid
                            .form-group
                                label(for="selectionBasecone")=__("Tag document as")+" "
                                    a(href="https://support.basecone.co.uk/en/articles/1171776-tagging-of-documents")="("+__("More info")+")"
                                select.custom-select(id="selectionBasecone", name="subject")
                                    option(value='PVN')=__("Purchase Invoice – Recognise and book a purchase invoice")
                                    option(value='SLS')=__("Sales Invoice – Recognise and book a sales invoice")
                                    option(value='CASH')=__("Booking a cash receipts")
                                    option(value='BANK')=__("Electronic bank statements.")
                                    option(value='JNL')=__("Journal – Documents are processed as journal.")
                            .form-group
                                label(for="textareaBasecone")=__("Description")
                                textarea.form-control#textareaBasecone(rows="3", name="description")
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal" )=__("Close")
                    button.btn.btn-primary(type="submit" role="button"  )=__("Send")
