script( type="text/javascript"  src="/dist/tablesorter-master/js/jquery.tablesorter.combined.js")
script.
    $(function () {
        $("#tabelInvoices").tablesorter();
    });
    function changeRemove(id) {
        window.location = "/admin/invoice/switchRemove/" + id;
    }
table(class="table table-striped table-sm ",id="tabelInvoices")
    thead(style="color:#FFF",class="thead shadow bg-"+settings.theme)
        tr
            th _id
            th nickname
            th number
            th #{__('Date')}
            th.invoiceStatus #{__('Status')}
            th#actionHeaderBig(scope="col")=__('Action')
            th#actionHeaderSmall(scope="col", style="display='none';")
                div
                    i.fas.fa-eye
    tbody
        each invoice in invoices
            tr
                td
                    a(href="/admin/edit/invoice/"+invoice._id)
                        span.badge.badge-pill.badge-dark=invoice._id
                td
                    a(href='/admin/order/all/' + invoice._id )=invoice.nickname
                td
                    include ../../modals/status/setSent
                    if invoice.invoiceNr
                        include ../../modals/status/setPaid
                        a(href='/admin/order/all/' + invoice._id )=invoice.invoiceNr
                    if invoice.offerNr
                        include ../../modals/status/setAgreed
                        a(href='/admin/order/all/' + invoice._id) #{__('Offer')}  #{" "+invoice.offerNr}
                    if invoice.creditNr
                        a(href='/admin/order/all/' + invoice._id ) #{__('Creditnote')} #{" "+invoice.creditNr}
                td
                    span(id="date"+invoice._id)
                td.invoiceStatus
                    if invoice.invoiceNr
                            div(class="custom-control custom-switch" onclick='setStatus("' + invoice._id + '")' )
                                if invoice.isPaid
                                    input(type="checkbox" class="custom-control-input bg-danger" id=invoice._id checked='true' )
                                    label(class="custom-control-label" for=invoice._id) #{__('Paid')}
                                else
                                    input(type="checkbox" class="custom-control-input bg-danger" id=invoice._id )
                                    label(class="custom-control-label" for=invoice._id) #{__('Unpaid')}
                    else if invoice.offerNr
                            div(class="custom-control custom-switch" onclick='setAgreedStatus("'+invoice._id+'")')
                                if invoice.isAgreed
                                    input(type="checkbox" class="custom-control-input bg-danger" id=invoice._id, checked='true' )
                                    label(class="custom-control-label" for=invoice._id) #{__('Agreed')}
                                else
                                    input(type="checkbox" class="custom-control-input bg-danger" id=invoice._id )
                                    label(class="custom-control-label" for=invoice._id) #{__('Not agreed')}
                    div(class="custom-control custom-switch" onclick="setSent('"+invoice._id+"')" )
                        if invoice.isSend
                            input(type="checkbox" class="custom-control-input bg-success", id='setSent'+invoice._id, checked='true')
                            label(class="custom-control-label", for='setSent'+invoice._id )=__("Sent")
                        else
                            input(type="checkbox" class="custom-control-input bg-success", id='setSent' + invoice._id  )
                            label(class="custom-control-label", for='setSent' + invoice._id )=__("Not sent")
                    div(class="custom-control custom-switch" onclick='changeRemove("' + invoice._id + '")' )
                        if invoice.isRemoved
                            input(type="checkbox" class="custom-control-input bg-success", checked='true', id="removed"+invoice._id )
                            label(class="custom-control-label" for="removed"+invoice._id) Removed
                        else
                            input(type="checkbox" class="custom-control-input bg-danger" id="removed"+invoice._id )
                            label(class="custom-control-label" for="removed"+invoice._id) not removed
                td
                    div(class="btn-group dropleft front")
                        a(role="button", class="btn btn-outline-" + settings.theme + " btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            span.actionBig=__('Actions')
                            div.actionSmall(style="display:none;")
                                i.action-fas(class="fas fa-ellipsis-v")
                        div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                            a(class="dropdown-item", href='/admin/invoice/change/downgrade/' + invoice._id ) #{__('Downgrade to offer')}
                            a(class="dropdown-item button", href="/admin/invoice/change/upgrade/" + invoice._id )=__('Upgrade to invoice')
                            //if settings.baseconeMail&& (invoice.invoiceNr||invoice.creditNr)
                                a(class="dropdown-item button", href="#baseconeModal"+invoice._id , data-toggle='modal' data-target="#baseconeModal"+invoice._id )=__("Send to basecone")
            script.
                //date is done via DOM, the locale cannot be set right when using pug
                document.getElementById("date"+"#{invoice._id}").innerHTML = new Date("#{invoice.date}").toLocaleString("#{settings.locale}", {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric'
                });
