script( type="text/javascript"  src="/dist/tablesorter-master/js/jquery.tablesorter.combined.js")
script.
    $(function () {
        $("#tabelusers").tablesorter();
    });
- let dateNow = (new Date()).getFullYear()
    table(class="table table-striped table-sm ",id="tabelusers")
        thead(style="color:#FFF",class="thead shadow bg-" + settings.theme)
            tr
                th(scope="col") #{__('_id')}
                th(scope="col") invoice next #
                th(scope="col") offer next #
                th(scope="col") credit next #
        tbody
            each currentProfile in profiles
                tr
                    td
                        a(href='#' )
                        span.badge.badge-pill.badge-dark=currentProfile._id
                    td
                        form(action='/admin/user/changeNrCurrent/' + currentProfile._id method='post')
                            button(type="sumbit",style="display:none")
                            input(style='display:none;',name='nrCurrentType', value='invoice' )
                            .input-group.mb-3
                                .input-group-prepend
                                    span#invoiceNrCurrent.input-group-text=dateNow
                                input.form-control(name='nrCurrent' type='number', placeholder=currentProfile.invoiceNrCurrent, value=currentProfile.invoiceNrCurrent aria-label='Username' aria-describedby='#invoiceNrCurrent')
                    td
                        form(action='/admin/user/changeNrCurrent/' + currentProfile._id method='post')
                            button(type="sumbit",style="display:none")
                            input(style='display:none;',name='nrCurrentType', value='offer' )
                            .input-group.mb-3
                                .input-group-prepend
                                    span#offerNrCurrent.input-group-text=dateNow
                                input.form-control(name='nrCurrent' type='number', placeholder=currentProfile.offerNrCurrent, value=currentProfile.offerNrCurrent aria-label='Username' aria-describedby='#offerNrCurrent')
                    td
                        form(action='/admin/user/changeNrCurrent/' + currentProfile._id method='post')
                            button(type="sumbit",style="display:none")
                            input(style='display:none;',name='nrCurrentType', value='credit' )
                            .input-group.mb-3
                                .input-group-prepend
                                    span#creditNrCurrent.input-group-text=dateNow
                                input.form-control(name='nrCurrent' type='number', placeholder=currentProfile.creditNrCurrent, value=currentProfile.creditNrCurrent aria-label='Username' aria-describedby='#creditNrCurrent')