script( type="text/javascript"  src="/dist/tablesorter-master/js/jquery.tablesorter.combined.js")
script.
    $(function () {
        $("#tabelusers").tablesorter();
    });
table(class="table table-striped table-sm ",id="tabelusers")
    thead(style="color:#FFF",class="thead shadow bg-" + settings.theme)
        tr
            th(scope="col") #{__('_id')}
            th(scope="col") #{__('email')}
            th(scope="col") #{__('role')}
            th(scope="col") credits
            th(scope="col") #{__('last login')}
    tbody
        each user in users
            tr
                td
                    a(href='/admin/user/'+user._id )
                        span.badge.badge-pill.badge-dark=user._id
                td
                    a(href='/admin/user/'+user._id )=user.email
                td
                    div.btn-group.dropleft
                        case user.role
                            when 'visitor'
                                a(role="button", class="btn btn-secondary btn-sm dropdown-toggle", href="#", id=user._id, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    span visitor
                            when 'user'
                                a(role="button", class="btn btn-primary btn-sm dropdown-toggle", href="#", id=user._id , data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    span user
                            when 'support'
                                a(role="button", class="btn btn-info btn-sm dropdown-toggle", href="#", id=user._id, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    span support
                            when 'admin'
                                a(role="button", class="btn btn-danger btn-sm dropdown-toggle", href="#", id=user._id, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    span admin
                            default
                                a(role="button", class="btn btn-warning btn-sm dropdown-toggle", href="#", id=user._id, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    span INVALID_ROLE
                        div(class="dropdown-menu", aria-labelledby=user._id )
                            a(class="dropdown-item", href='/admin/user/' + user._id + '/delete' ) Delete
                            a(class="dropdown-item", href='/admin/user/' + user._id + '/block' )
                                if user.isBlocked
                                    i.nav-fas(class="fas fa-check")
                                span Block
                            a(class="dropdown-toggle", href="#", id=user._id, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                span Change role
                            div(class="dropdown-menu", aria-labelledby=user._id )
                                a(class="dropdown-item", href='/admin/user/' + user._id + '/changeRole/visitor' ) visitor
                                a(class="dropdown-item", href='/admin/user/' + user._id + '/changeRole/user' ) user
                                a(class="dropdown-item", href='/admin/user/' + user._id + '/changeRole/support' ) support
                                a(class="dropdown-item", href='/admin/user/' + user._id + '/changeRole/admin' ) admin
                td
                    div.btn-group.dropleft
                        a(class="dropdown-toggle", href='#' id="cr" + user._id, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                            span=user.credits+' CR'
                        div(class="dropdown-menu", aria-labelledby="cr" + user._id )
                            div(class="dropdown-item") Add
                                form(action="/admin/user/"+user._id+"/credits/add")
                                    .form-group
                                        label(for="addCr"+user._id) Amount of credits to remove
                                        input.form-control(type="number", name="credits", id="addCr"+user._id, placeholder="10")
                                        button(type="sumbit", style="display:none")
                            div(class="dropdown-item") Remove
                                form(action="/admin/user/" + user._id + "/credits/remove")
                                    .form-group
                                        label(for="remCr" + user._id) Amount of credits to remove
                                        input.form-control(type="number", name="credits", id="remCr" + user._id, placeholder="10")
                                        button(type="sumbit", style="display:none")

                td(id="date"+user._id)=user.lastLogin
            script.
                //date is done via DOM, the locale cannot be set right when using pug
                let id#{user._id} = "date" + "#{user._id}";
                document.getElementById(id#{user._id}).innerHTML = new Date("#{user.lastLogin}").toLocaleString("#{settings.locale}", {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric'
                });