//- V1.8
html 
  head
    title download pdf
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous")
    script(src="https://unpkg.com/jspdf-autotable@3.1.0/dist/jspdf.plugin.autotable.js")
    script.
      let imgData = "#{imgData}";
      c = [0,0];
      Pfirm = "#{profile.firm}";
      Pname = "#{profile.name}";
      Pstreet = "#{profile.street}";
      PstreetNr = "#{profile.streetNr}";
      Ppostal = "#{profile.postal}";
      Pplace = "#{profile.place}";
      Pvat = "#{profile.vat}";
      vatPercentage = "#{client.vatPercentage}";
      Piban = "#{profile.iban}";
      Pbic = "#{profile.bic}";
      firm = "#{client.firm}";
      invoiceNr = "#{invoice.invoiceNr}";
      clientName = "#{client.clientName}";
      street = "#{client.street}";
      streetNr = "#{client.streetNr}";
      postal = "#{client.postal}";
      place = "#{client.place}";
      Cvat = "#{client.vat}";
      date = new Date("#{invoice.date}").toLocaleString("#{settings.locale}",{ year: 'numeric', month: 'numeric', day: 'numeric' })
      let vat = Number(#{Cvat});
      advance = Number(#{invoice.advance});
      invoiceText = [];
      invoiceText.push("#{invoiceText[0]}");
      invoiceText.push("#{invoiceText[1]}");
      invoiceText.push("#{invoiceText[2]}");
      invoiceText.push("#{invoiceText[3]}");
      invoiceText.push("#{invoiceText[4]}");
      invoiceText.push("#{invoiceText[5]}");
      let doc = new jsPDF();
      doc.setFont(doc.getFontList()[0]);
      doc.setProperties({
        title: '#{profile.firm} #{__("invoice")} #{invoice.invoiceNr}',
        subject: '#{__("invoice of")} #{profile.firm}',
        author: '#{profile.firm}',
        keywords: '#{profile.firm} ,#{__("invoice")} ,#{invoice.invoiceNr}',
        creator: '#{profile.firm} #{__("invoice administration")}',
      });
      /**HEADER**/
      doc.addImage(imgData, 'JPEG', 15, 5, 50, 50);
      doc.setFontType("bold");
      doc.setFontSize(36);
      doc.setTextColor(170, 170, 170);
      doc.text(140,35,"#{__('Invoice')}");
      /**bedrijfgegevens**/
      doc.setTextColor(0,0,0);
      doc.setFontSize(12);
      doc.setFontType("courier");
      c = [20,60];
      doc.text(c[0],c[1],Pname);
      doc.setFontType("bold");
      c[1] += 10;
      doc.text(c[0],c[1],"#{__('Company info')}");
      doc.setFontType("courier");
      c[1] += 5;
      doc.text(c[0],c[1],Pname);
      c[1] += 5;
      doc.text(c[0],c[1],Pstreet + " " + PstreetNr);
      c[1] += 5;
      doc.text(c[0],c[1],"#{__('vat nr')}: "+ Pvat);
      doc.setFontType("bold");
      c[1] += 10;
      doc.text(c[0],c[1],"#{__('Banking info')}");
      doc.setFontType("courier");
      c[1] += 5;
      doc.text(c[0],c[1],"IBAN: "+Piban);
      c[1] += 5;
      doc.text(c[0],c[1],"BIC: "+Pbic);
      /**factuur info**/
      doc.setFontType("bold");
      c = [120,60];
      doc.text(c[0],c[1],"#{__('Date')}:");
      c[1] +=5;
      doc.text(c[0],c[1],"#{__('Invoice nr')}:");
      doc.setFontType("courier");
      c[0] += 30;
      c[1] -= 5;
      doc.text(c[0],c[1],date);
      c[1] += 5;
      doc.text(c[0],c[1],invoiceNr);
      /**factuur gegevens**/
      c = [120,75];
      doc.setFontType("bold");
      doc.text(c[0],c[1],"#{__('Invoice info')}");
      c[1] +=5;
      doc.setFontType("courier");
      if(firm){
        doc.text(c[0],c[1],firm);
        c[1] +=5;
      }
      doc.text(c[0],c[1],clientName);
      c[1] +=5;
      doc.text(c[0],c[1],street+" "+streetNr);
      c[1] +=5;
      if(place){
        if(postal){
          doc.text(c[0],c[1],postal+" "+place);
        }else{
          doc.text(c[0],c[1],place);
        }
        c[1] +=5;
      }
      if(vat){
        doc.text(c[0],c[1],"#{__('vat nr')}: "+vat);

      }
      /**Beschrijvingen**/
      let unusable_json_data = "#{orders}";

      let current = JSON.parse(unusable_json_data.replace(/(&quot\;)/g, "\""));
      let orders = [];
      let amount = Number(#{length});
      let totalEx = 0;
      let _vat;
      let totalInc;
      for(let i = 0; i <=amount-1;i++){
        orders.push([current[i].description,current[i].amount,current[i].price,current[i].total]);
      }
      for(let i = 0; i <=orders.length-1; i++){
        totalEx +=orders[i][3];
      }
      let ordersPrint = [];
      for(let i = 0; i <=amount-1;i++){
        ordersPrint.push([current[i].description,current[i].amount,current[i].price.toFixed(2)+" €",current[i].total.toFixed(2)+" €"]);
      }
      doc.autoTable({
        theme: 'grid',
        columnStyles: {
          0:{fillColor:[255,255,255]},
          1:{fillColor:[255,255,255],halign:'right'},
          2:{fillColor:[255,255,255],halign:'right'},
          3:{fillColor:[255,255,255],halign:'right'}
          },
        styles: {fillColor: [140, 140, 140]},
        startY: 110,
        head: [["#{__('Order')}", "#{__('Amount')}", "#{__('Price')}","#{__('Total')}"]],
        body: ordersPrint
        });
      _vat = Math.round((totalEx-advance)*vatPercentage)/100;
      totalExSub  = totalEx - advance;
      totalInc = totalExSub+_vat;
      if(advance==0){
        doc.autoTable({
          theme: 'plain',
          startX: 200,
          columnStyles: {
            0:{fillColor:[255,255,255]},
            1:{fillColor:[255,255,255]},
            2:{fillColor:[255,255,255],halign:'right'},
            3:{fillColor:[180,180,180],halign:'right'}},
          styles: {fillColor: [140, 140, 140]},
          body: [
          [[""],["                               "],["#{__('subtotal')}"],[totalEx.toFixed(2)+" €"]],
          [[""],["                               "],["#{__('vat')}  "+vatPercentage+"%"],[_vat.toFixed(2)+" €"]],
          [[""],["                               "],["#{__('total')}"],[totalInc.toFixed(2)+" €"]]
          ]
        })
      }else{
        doc.autoTable({
          theme: 'plain',
          startX: 200,
          columnStyles: {
            0:{fillColor:[255,255,255]},
            1:{fillColor:[255,255,255]},
            2:{fillColor:[255,255,255],halign:'right'},
            3:{fillColor:[140,140,140],halign:'right'}},
          styles: {fillColor: [140, 140, 140]},
          body: [
          [[""],["                               "],["#{__('subtotal')}"],[totalEx.toFixed(2)+" €"]],
          [[""],["                               "],["#{__('advance')}"],["-"+advance.toFixed(2)+" €"]],
          [[""],["                               "],["#{__('subtotal')}"],[totalExSub.toFixed(2)+" €"]],
          [[""],["                               "],["#{__('vat')}  "+vatPercentage+"%"],[_vat.toFixed(2)+" €"]],
          [[""],["                               "],["#{__('total')}"],[totalInc.toFixed(2)+" €"]]
          ]
        })
      }
      /**Footer & Disclaimer**/
      doc.setFontType("courier");
      doc.setFontSize(10);
      doc.text(20,265,invoiceText[0]);
      doc.text(20,270,invoiceText[1]);
      doc.text(20,275,invoiceText[2]);
      doc.text(20,280,invoiceText[3]);
      doc.setFontType("bold");
      doc.text(80,285,"#{__('We thank you for your trust.')}");
      /**EINDE factuur GENERATIE**/
      doc.save(invoiceNr+'.pdf');
  body
    h1 #{__('Close this page after downloading the pdf.')}
