//- V1.8
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    header
      nav(class="navbar navbar-expand-md navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/index'+"/"+loginHash) Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile'+"/"+loginHash) My profile    
            li(class="nav-item")
              a(class="nav-link active", href='/settings'+"/"+loginHash) Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken"+"/"+loginHash, method="post")
                  input(class="form-control" type="search" placeholder="Search" aria-label="Search" name="search")
    main
      div(class="jumbotron")
        div(class="row no-gutters")
          div(class="col-9 mr-auto")
            if settings.thema == "light"
              a(href='/add-contact'+"/"+loginHash,class="button") 
                button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") New Contact
            if settings.thema != "light"
              a(href='/add-contact'+"/"+loginHash,class="button") 
                button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") New Contact
          div(class="col-2")
            if settings.thema == "light"
              a(href='/index'+"/"+loginHash,class="button") 
                button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") Back
            if settings.thema != "light"
              a(href='/index'+"/"+loginHash,class="button") 
                button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") Back
        hr          
        if settings.thema == "dark" || settings.thema == "danger" || settings.thema == "info"
          table(class="table table-#{settings.oppo} table-striped")  
            tr
              th(scope="col") Contact
              th(scope="col") E-mail
              th(scope="col") Action

            each contact in contactenLijst
              tr
                td
                  a(href='/facturen/'+contact._id+"/"+loginHash, class="button")
                    button(type="button" class="btn btn-outline-#{settings.thema}" data-toggle="tooltip" data-placement="top" title="#{contact.firma}\n#{contact.straat} #{contact.straatNr}\n#{contact.postcode} #{contact.plaats}")=contact.contactPersoon 
                if contact.mail
                  if contact.mail2
                    td
                      a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") E-mail's
                      div(class="dropdown-menu", aria-labelledby="actionsDropdown2")
                        a(class="dropdown-item", href='mailto:#{contact.mail}')=contact.mail
                        a(class="dropdown-item", href='mailto:#{contact.mail1}')=contact.mail1
                        a(class="dropdown-item", href='mailto:#{contact.mail2}')=contact.mail2
                  else if contact.mail1
                    td
                      a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") E-mail's
                      div(class="dropdown-menu", aria-labelledby="actionsDropdown2")
                        a(class="dropdown-item", href='mailto:#{contact.mail}')=contact.mail
                        a(class="dropdown-item", href='mailto:#{contact.mail1}')=contact.mail1
                      
                  if !contact.mail1
                    td
                      a(href="mailto:#{contact.mail}",class="button")
                        button(type="button" class="btn btn-outline-#{settings.thema}")=contact.mail
                else  
                  td
                    button(type="button" class="btn btn-outline-#{settings.thema}") Geen e-mail
                td
                  a(role="button", class="btn btn-#{settings.thema} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                  div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                    a(class="dropdown-item", href='/edit-contact/'+contact._id+"/"+loginHash) Edit
                    a(class="dropdown-item", href='/delete-contact/'+contact._id+"/"+loginHash) Delete
                    a(class="dropdown-item", href='/view-contact/'+contact._id+"/"+loginHash) View
        else
          table(class="table table-#{settings.thema} table-striped")    
            tr
              th(scope="col") Contact
              th(scope="col") E-mail
              th(scope="col") Action

            each contact in contactenLijst
              tr
                td
                  a(href='/facturen/'+contact._id+"/"+loginHash, class="button")
                    button(type="button" class="btn btn-outline-#{settings.oppo}" data-toggle="tooltip" data-placement="top" title="#{contact.firma}\n#{contact.straat} #{contact.straatNr}\n#{contact.postcode} #{contact.plaats}")=contact.contactPersoon
                    if contact.mail
                      if contact.mail2
                        td
                          a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") E-mail's
                          div(class="dropdown-menu", aria-labelledby="actionsDropdown2")
                            a(class="dropdown-item", href='mailto:#{contact.mail}')=contact.mail
                            a(class="dropdown-item", href='mailto:#{contact.mail1}')=contact.mail1
                            a(class="dropdown-item", href='mailto:#{contact.mail2}')=contact.mail2
                      else if contact.mail1
                        td
                          a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") E-mail's
                          div(class="dropdown-menu", aria-labelledby="actionsDropdown2")
                            a(class="dropdown-item", href='mailto:#{contact.mail}')=contact.mail
                            a(class="dropdown-item", href='mailto:#{contact.mail1}')=contact.mail1
                          
                      if !contact.mail1
                        td
                          a(href="mailto:#{contact.mail}",class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}")=contact.mail
                    else  
                      td
                        button(type="button" class="btn btn-outline-#{settings.oppo}") No e-mail
                td
                  a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                  div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                    a(class="dropdown-item", href='/edit-contact/'+contact._id+"/"+loginHash) Edit
                    a(class="dropdown-item", href='/delete-contact/'+contact._id+"/"+loginHash) Delete
                    a(class="dropdown-item", href='/view-contact/'+contact._id+"/"+loginHash) View
