//- V1.8
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    header
      nav(class="navbar navbar-expand-md navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/index/#{loginHash}') Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile/#{loginHash}') My profile    
            li(class="nav-item")
              a(class="nav-link active", href='/settings/#{loginHash}') Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken/#{loginHash}" method="post")
                  input(class="form-control" type="search" placeholder="Search" aria-label="Search" name="search")

    main
      div(class="jumbotron")
        div(class="row no-gutters")
          if contact
            a(role="button", class="btn btn-#{settings.oppo} btn-lg col-4 mr-auto dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Create
            div(class="dropdown-menu col-4 mr-auto", aria-labelledby="actionsDropdown")
              a(href='/add-factuur/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  New Invoice
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  New Invoice
              a(href='/add-offerte/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  New Offer
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  New offer
              a(href='/add-creditnota/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  New Credit invoice
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  New Credit invoice
              a(href='/add-project/'+contact._id+"/#{loginHash}",class="dropdown-item")
                if settings.thema == "light"
                  button(type="button",id="knop", class="btn btn-#{settings.oppo} btn-lg btn-block")  New Project
                if settings.thema != "light"
                  button(type="button",id="knop", class="btn btn-#{settings.thema} btn-lg btn-block")  New Project
          div(class="col-2")
            if contact 
              if !Back
                a(href='/contacten/#{loginHash}',class="button")
                  if settings.thema == "light"
                    button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") back
                  if settings.thema != "light"
                    button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") back
              else
                a(href='/facturen/#{loginHash}',class="button")
                  if settings.thema == "light"
                    button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") back
                  if settings.thema != "light"
                    button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") back
            else
              a(href='/index/#{loginHash}',class="button")
                if settings.thema == "light"
                  button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") back
                if settings.thema != "light"
                  button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") back
        hr
        if settings.thema == "dark" || settings.thema == "danger" || settings.thema == "info"
          table(class="table table-#{settings.oppo} table-striped")
            tr
              th(scope="col") Invoices
              if !contact
                th(scope="col") Contacts
              th(scope="col") Dates
              th
              th(scope="col") Actions
                each factuur in facturenLijst
                  tr
                    td
                      if factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")=factuur.factuurNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t'+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")=factuur.factuurNr
                      if factuur.offerteNr && !factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")="Offerte "+factuur.offerteNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t'+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")="Offerte "+factuur.offerteNr
                      if factuur.creditnr
                        a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                          button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")="Creditnota "+factuur.creditnr
                      if !contact
                        td
                          if factuur.contactPersoon == "Update this invoice!"
                            a(href='/updateFactuur/'+factuur._id+"/#{loginHash}", class="button")
                              button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="Press here to update this invoice")=factuur.contactPersoon
                          else
                            a(href='/facturen/'+factuur.contact+"/t"+"/#{loginHash}", class="button")
                              button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="Go to this contacts invoices")=factuur.contactPersoon
                      td
                        p(class="lead")=factuur.datum
                      if factuur.factuurNr      
                        td
                          if contact
                            script.
                              var id = "#{factuur._id}";
                              function K#{factuur.factuurNr}(){
                                window.location="/change-betaald/"+"#{factuur._id}/#{loginHash}";
                              }
                          if !contact
                            script.
                              var id = "#{factuur._id}";
                              function K#{factuur.factuurNr}(){
                                window.location="/change-betaald2/"+"#{factuur._id}/#{loginHash}";
                              }
                          div(class="custom-control custom-switch")
                            if factuur.isBetaald
                              input(type="checkbox" class="custom-control-input" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()" checked)
                              label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)+"€ ,  Paid"
                            if !factuur.isBetaald
                              input(type="checkbox" class="custom-control-input" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()")
                              label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)+"€ ,  Unpaid"
                      else
                        td
                      td
                        a(role="button", class="btn btn-#{settings.thema} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Action
                        div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                          if !contact
                            a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+'/t'+"/#{loginHash}") Edit
                            a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+'/t'+"/#{loginHash}") Delete
                            a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/t"+"#{loginHash}",class="button"+"/#{loginHash}") View
                          if contact
                            a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") Edit
                            a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") Delete
                            a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/#{loginHash}",class="button") View
                          div(class="dropdown-divider")
                          if factuur.creditnr
                            a(class="dropdown-item", href='/creditnota/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download Credit invoice
                          if factuur.factuurNr
                            a(class="dropdown-item", href='/createPDF/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download invoice
                          if factuur.offerteNr
                            a(class="dropdown-item", href='/offerte/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download offer
                            if !factuur.factuurNr
                              div(class="dropdown-divider")
                              if contact
                                a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/#{loginHash}",class="button") upgrade to invoice
                              if !contact
                                a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/t/#{loginHash}",class="button") upgrade to invoice
        else
          table(class="table table-#{settings.thema} table-striped")
            tr
              th(scope="col") invoices
              if !contact
                th(scope="col") Contacts
              th(scope="col") Dates
              th
              th(scope="col") Actions
                each factuur in facturenLijst
                  tr
                    td
                      if factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")=factuur.factuurNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t/#{loginHash}', class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")=factuur.factuurNr
                      if factuur.offerteNr && !factuur.factuurNr
                        if contact
                          a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")="Offerte "+factuur.offerteNr
                        if !contact
                          a(href='/bestellingen/'+factuur._id+'/t'+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")="Offerte "+factuur.offerteNr
                      if factuur.creditnr && !factuur.offerteNr && !factuur.factuurNr  
                        a(href='/bestellingen/'+factuur._id+"/#{loginHash}", class="button")
                          button(type="button" class="btn btn-outline-#{settings.thema}" data-html="true" data-toggle="tooltip" data-placement="top" title="#{factuur.datum} with #{factuur.voorschot} € in advance")="Creditnota "+factuur.creditnr
                    if !contact
                      td
                        if factuur.contactPersoon == "Update deze factuur!"
                          a(href='/updateFactuur/'+factuur._id+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="Press here to update this contact")=factuur.contactPersoon
                        else
                          a(href='/facturen/'+factuur.contact+"/t"+"/#{loginHash}", class="button")
                            button(type="button" class="btn btn-outline-#{settings.oppo}" data-html="true" data-toggle="tooltip" data-placement="top" title="Go to this contacts invoices")=factuur.contactPersoon
                    td
                      p(class="lead")=factuur.datum
                    if factuur.factuurNr
                      td
                        if contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald/"+"#{factuur._id}/#{loginHash}";
                            }
                        if !contact
                          script.
                            var id = "#{factuur._id}";
                            function K#{factuur.factuurNr}(){
                              window.location="/change-betaald2/"+"#{factuur._id}/#{loginHash}";
                            }
                        div(class="custom-control custom-switch")
                          if factuur.isBetaald
                            input(type="checkbox" class="custom-control-input bg-success" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()" checked)
                            label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)	+"€ ,  Paid"
                          if !factuur.isBetaald
                            input(type="checkbox" class="custom-control-input bg-success" id="#{factuur._id}" onclick="K#{factuur.factuurNr}()")
                            label(class="custom-control-label" for="#{factuur._id}")=(factuur.totaal*1.21).toFixed(2)+"€ ,  Unpaid"
                    else
                    td
                      a(role="button", class="btn btn-#{settings.oppo} btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Actions
                      div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                        if !contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+'/t/#{loginHash}') Edit
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+'/t/#{loginHash}') Delete
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/t/#{loginHash}",class="button") View
                        if contact
                          a(class="dropdown-item",href='/edit-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") Edit
                          a(class="dropdown-item", href='/delete-factuur/'+factuur.contact+'/'+factuur._id+"/#{loginHash}") Delete
                          a(class="dropdown-item", href='/view-factuur/'+factuur._id+"/#{loginHash}",class="button") View
                        div(class="dropdown-divider")
                        if factuur.creditnr
                          a(class="dropdown-item", href='/creditnota/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download creditnote
                        if factuur.factuurNr
                          a(class="dropdown-item", href='/createPDF/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download invoice
                        if factuur.offerteNr
                          a(class="dropdown-item", href='/offerte/'+factuur._id+"/#{loginHash}",id="target",target="_blank") download offer
                          if !factuur.factuurNr
                            div(class="dropdown-divider")
                            if contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/#{loginHash}",class="button") Upgrade to invoice
                            if !contact
                              a(class="dropdown-item", href="/opwaardeer/"+factuur._id+"/t/#{loginHash}",class="button") Upgrade to invoice
