html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheet.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="https://www.chartjs.org/samples/latest/utils.js")
    script(src="https://unpkg.com/feather-icons")

  body(onpageshow='drawChart(['+totaal+'])')
    header
      nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
        a(class="navbar-brand col-sm-3 col-md-2 mr-0",href="/edit-profile/"+loginHash)=profile.firma
        form(class="form", method="post",action="/zoeken/"+loginHash)
            input(class="form-control form-control-dark w-100" type="text",name="search",placeholder="zoeken" aria-label="zoeken")
            button(type="sumbit",style="display:none")
        ul(class="navbar-nav px-3")
          li(class="nav-item text-nowrap")
            a(class="nav-link" href="#") Sign out

      div(class="container-fluid")
        div(class ="row")
          nav(class="col-md-2 d-none d-md-block bg-light sidebar")
            div(class="sidebar-sticky")
              ul(class="nav flex-column")
                li(class="nav-item")
                  a(class="nav-link active" href="/index/"+loginHash)
                    span(data-feather="home")
                    span Home
                    span(class="sr-only") (current)
                li(class="nav-item")
                    a(class="nav-link" href="/edit-profile/"+loginHash)
                        span(data-feather="user")
                        span My profile
                li(class="nav-item")
                  a(class="nav-link" href="/facturen/"+loginHash)
                    span(data-feather="file")
                    span All invoices
                li(class="nav-item")
                    a(class="nav-link" href="/contacten/"+loginHash)
                        span(data-feather="users")
                        span Clients
                li(class="nav-item")
                  a(class="nav-link" href="/mat/"+loginHash)
                    span(data-feather="package")
                    span Stock
                li(class="nav-item")
                    a(class="nav-link" href="/berekeningen/"+loginHash)
                        span(data-feather="book")
                        span Calculations
                li(class="nav-item")
                  a(class="nav-link" href="/settings/"+loginHash)
                    span(data-feather="settings")
                    span Settings
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                span Bookmarks
              ul(class="nav flex-column mb-2")
                li(class="nav-item")
                    a(class="nav-link",href='https://identity.basecone.com/authentication/login')
                        span(data-feather="bookmark")
                        span Basecone
    main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
      div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
        h1(class="h2") Dashboard
        div(class="btn-group dropleft mb-2 mb-md-0")
            button(type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle", data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                span(data-feather="calendar")
                span=jaar
            div(class="dropdown-menu")
              a(class="dropdown-item" href="/chart/"+String(jaar-2)+"/"+loginHash)=jaar-2
              a(class="dropdown-item" href="/chart/" + String(jaar - 1) +"/"+ loginHash)=jaar - 1
              a(class="dropdown-item active" href="/chart/" + jaar +"/"+ loginHash )=jaar
              a(class="dropdown-item" href="/chart/" + String(Number(jaar) + Number(1)) +"/"+ loginHash)=String(Number(jaar) + Number(1))
              a(class="dropdown-item" href="/chart/" + String(Number(jaar) + Number(2)) +"/"+ loginHash)=String(Number(jaar) + Number(2))
      canvas(class="my-4 w-100" id="myChart" width="900" height="380")
      h2 Unpaid invoices
      if fact_open.length == 0
          div(class="alert alert-info col-lg-12 col-md-12 col-sm-12" role="alert") No unpaid invoices.
      else
          div(class="table-responsive")
            table(class="table table-striped table-sm")
                thead
                    tr
                        th #
                        th Client
                        th Date
                        th Price
                        th Actions
                tbody
                    each factuur in fact_open
                        tr
                            td
                                if factuur.factuurNr
                                    if contact
                                        a(href='/bestellingen/' + factuur._id + "/"+loginHash, class="button")
                                            button(type="button" class="btn btn-outline-"+settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum+" with "+factuur.voorschot+" € in Advance")=factuur.factuurNr
                                    if !contact
                                        a(href='/bestellingen/' + factuur._id + '/t/'+loginHash, class="button")
                                            button(type="button" class="btn btn-outline-"+settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum+" with "+factuur.voorschot+" € in Advance")=factuur.factuurNr
                                if factuur.offerteNr && !factuur.factuurNr
                                    if contact
                                        a(href='/bestellingen/' + factuur._id + "/"+loginHash, class="button")
                                            button(type="button" class="btn btn-outline-"+settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum+" with "+factuur.voorschot+" € in Advance")="Offerte " + factuur.offerteNr
                                    if !contact
                                        a(href='/bestellingen/' + factuur._id + '/t' + "/"+loginHash, class="button")
                                            button(type="button" class="btn btn-outline-"+settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum+" with "+factuur.voorschot+" € in Advance")="Offerte " + factuur.offerteNr
                                if factuur.creditnr && !factuur.offerteNr && !factuur.factuurNr
                                    a(href='/bestellingen/' + factuur._id + "/"+loginHash, class="button")
                                        button(type="button" class="btn btn-outline-"+settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum+" with "+factuur.voorschot+" € in Advance")="Creditnota " + factuur.creditnr
                            if !contact
                                td
                                    if factuur.contactPersoon == "Update deze factuur!"
                                        a(href='/updateFactuur/' + factuur._id + "/"+loginHash, class="button")
                                            button(type="button" class="btn btn-outline-"+settings.thema data-html="true" data-toggle="tooltip" data-placement="top" title="Press here to update")=factuur.contactPersoon
                                    else
                                        a(href='/facturen/' + factuur.contact + "/t" + "/"+loginHash, class="button")
                                            button(type="button" class="btn btn-outline-"+settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title="Go to this persons invoices")=factuur.contactPersoon
                            td=factuur.datum
                            if factuur.factuurNr
                                td
                                    div(class="custom-control custom-switch")
                                        if factuur.isBetaald
                                            input(type="checkbox" class="custom-control-input bg-success" id=factuur._id, onclick='changeBetaald(\"'+factuur._id+'\",\"'+contact+'\",\"'+loginHash+'\")', checked)
                                            label(class="custom-control-label" for=factuur._id)=(factuur.totaal * 1.21).toFixed(2) + "€ ,  Paid"
                                        if !factuur.isBetaald
                                            input(type="checkbox" class="custom-control-input bg-danger" id=factuur._id, onclick='changeBetaald(\"'+factuur._id+'\",\"'+contact+'\",\"'+loginHash+'\")')
                                            label(class="custom-control-label" for=factuur._id)=(factuur.totaal * 1.21).toFixed(2) + "€ ,  Unpaid"
                            else
                                td  /
                            td
                                div(class="btn-group dropup")
                                    button(role="button", class="btn btn-outline-"+settings.thema+" btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Actions
                                    div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                                        if !contact
                                            a(class="dropdown-item",href='/edit-factuur/' + factuur.contact + '/' + factuur._id + '/t'+loginHash) Edit
                                            a(class="dropdown-item", href='/delete-factuur/' + factuur.contact + '/' + factuur._id + '/t/'+loginHash) Delete
                                            a(class="dropdown-item button" , href='/view-factuur/' + factuur._id + "/t/"+loginHash) View
                                        if contact
                                            a(class="dropdown-item",href='/edit-factuur/' + factuur.contact + '/' + factuur._id + "/"+loginHash) Edit
                                            a(class="dropdown-item", href='/delete-factuur/' + factuur.contact + '/' + factuur._id + "/"+loginHash) Delete
                                            a(class="dropdown-item button", href='/view-factuur/' + factuur._id + "/"+loginHash) View
                                        div(class="dropdown-divider")
                                        if factuur.creditnr
                                            a(class="dropdown-item", href='/creditnota/' + factuur._id + "/"+loginHash,id="target",target="_blank") download creditnote
                                        if factuur.factuurNr
                                            a(class="dropdown-item", href='/createPDF/' + factuur._id + "/"+loginHash,id="target",target="_blank") download invoice
                                        if factuur.offerteNr
                                            a(class="dropdown-item", href='/offerte/' + factuur._id + "/"+loginHash,id="target",target="_blank") download offer
                                            if !factuur.factuurNr
                                                div(class="dropdown-divider")
                                                if contact
                                                    a(class="dropdown-item button", href="/opwaardeer/" + factuur._id + "/"+loginHash) upgrade to invoice
                                                if !contact
                                                    a(class="dropdown-item button", href="/opwaardeer/" + factuur._id + "/t"+loginHash) upgrade to invoice

  script.
      $(document).ready(function () {
          feather.replace();
      });
      function drawChart(totaal) {
          console.log(totaal);
          var ctx = document.getElementById('myChart').getContext('2d');
          var maand = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "Oktober", "November", "December"];
          var color = Chart.helpers.color;
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [maand[0], maand[1], maand[2], maand[3], maand[4], maand[5], maand[6], maand[7], maand[8], maand[9], maand[10], maand[11]],
                  datasets: [{
                      label: 'Exlc. vat €',
                      data: [totaal[0], totaal[1], totaal[2], totaal[3], totaal[4], totaal[5], totaal[6], totaal[7], totaal[8], totaal[9], totaal[10], totaal[11]],
                      backgroundColor: color(window.chartColors.red).alpha(1).rgbString(),
                      borderColor: window.chartColors.red,
                      borderWidth: 1
                  }, {
                      label: 'Incl. vat €',
                      data: [totaal[0] * 1.21, totaal[1] * 1.21, totaal[2] * 1.21, totaal[3] * 1.21, totaal[4] * 1.21, totaal[5] * 1.21, totaal[6] * 1.21, totaal[7] * 1.21, totaal[8] * 1.21, totaal[9] * 1.21, totaal[10] * 1.21, totaal[11] * 1.21],
                      backgroundColor: color(window.chartColors.blue).alpha(1).rgbString(),
                      borderColor: window.chartColors.blue,
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  }
              }
          });
      }
      function changeBetaald(id, contact, loginHash) {
              window.location = "/change-betaald3/"+id+"/" +loginHash;
      }
