html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script.
      function toonBerekeningen(){$("#berekeningen").toggle();}
  body
    header
      nav(class="navbar navbar-expand-md navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/index/#{loginHash}') Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile/#{loginHash}') My profile    
            li(class="nav-item")
              a(class="nav-link active", href='/settings/#{loginHash}') Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-lg-1 col-md-0 col-sm-0 col-0 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  img(width="40",height="40",src="/logo.jpeg", alt="Invoice Administration")
              div(class="col-lg-8 col-md-6 col-sm-4 col-4 mr-auto" )  
                form(class="form-inline" action="/zoeken"+"/"+loginHash, method="post")
                  input(class="form-control" type="search" placeholder="zoeken" aria-label="Search" name="search")
    main
      div(class="jumbotron")
        div(class="container-fluid")
          div(class="row")
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/contacten/#{loginHash}',class="button") 
                  button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") Contacts
              if settings.thema != "light"
                a(href='/contacten/#{loginHash}',class="button") 
                  button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") Contacts
              hr
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/facturen/#{loginHash}',class="button") 
                  button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") All Invoices
              if settings.thema != "light"
                a(href='/facturen/#{loginHash}',class="button") 
                  button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") All Invoices
              hr
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/chart/'+jaar+"/#{loginHash}",class="button") 
                  button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") Graph
              if settings.thema != "light"
                a(href='/chart/'+jaar+"/#{loginHash}",class="button") 
                  button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") Graph
              hr
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(role="button",href='#berekeningen', onclick="toonBerekeningen()",class="btn btn-#{settings.oppo} btn-lg btn-block") Berekeningen
              if settings.thema != "light"
                a(role="button",href='#berekeningen', onclick="toonBerekeningen()",class="btn btn-#{settings.thema} btn-lg btn-block") Berekeningen
              hr    
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/mat/#{loginHash}',class="button") 
                  button(type="button",class="btn btn-#{settings.oppo} btn-lg btn-block") Materialen
              if settings.thema != "light"
                a(href='/mat'+"/#{loginHash}",class="button") 
                  button(type="button",class="btn btn-#{settings.thema} btn-lg btn-block") Materialen
        div(class="container-fluid",id="berekeningen",style="display:none")
          hr
          div(class="row")
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/epo-sil'+"/"+loginHash,class="button") 
                  button(type="button",class="btn btn-outline-#{settings.oppo} btn-lg btn-block") Siliconen mal berekenen
              if settings.thema != "light"
                a(href='/epo-sil'+"/"+loginHash,class="button") 
                  button(type="button",class="btn btn-outline-#{settings.thema} btn-lg btn-block") Siliconen mal berekenen
              hr
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/lam'+"/"+loginHash,class="button") 
                  button(type="button",class="btn btn-outline-#{settings.oppo} btn-lg btn-block" disabled) A1 Lamineren berekenen
              if settings.thema != "light"
                a(href='/lam'+"/"+loginHash,class="button") 
                  button(type="button",class="btn btn-outline-#{settings.thema} btn-lg btn-block" disabled) A1 Lamineren Berekenen
              hr
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/prijs'+"/"+loginHash,class="button") 
                  button(type="button",class="btn btn-outline-#{settings.oppo} btn-lg btn-block") Prijs berekeningen
              if settings.thema != "light"
                  a(href='/prijs'+"/"+loginHash,class="button") 
                    button(type="button",class="btn btn-outline-#{settings.thema} btn-lg btn-block") Prijs berekeningen
              hr
             div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
              if settings.thema == "light"
                a(href='/inch'+"/"+loginHash,class="button") 
                  button(type="button",class="btn btn-outline-#{settings.oppo} btn-lg btn-block") Inch & cm omzetten
              if settings.thema != "light"
                a(href='/inch'+"/"+loginHash,class="button") 
                  button(type="button",class="btn btn-outline-#{settings.thema} btn-lg btn-block") Inch & cm omzetten
              hr
            div(class="col-lg-6 col-12 col-sm-12 col-md-12 mr-auto")
             if settings.thema == "light"
               a(href='/percentage'+"/"+loginHash,class="button") 
                 button(type="button",class="btn btn-outline-#{settings.oppo} btn-lg btn-block" ) Percentage Berkenen
             if settings.thema != "light"
               a(href='/percentage'+"/"+loginHash,class="button") 
                 button(type="button",class="btn btn-outline-#{settings.thema} btn-lg btn-block") Percentage Berkenen
             hr
