html
    head
        title=title
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheet.css")
        scrip(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
        script(src="https://www.chartjs.org/samples/latest/utils.js")
        script(src="https://unpkg.com/feather-icons")
        script.
            function info() {
                $("#info").toggle();
            };
            function openPass() {
                $("#btw").slideUp();
                $("#thema").slideUp();
                $("#lang").slideUp();
                $("#text").slideUp();
                $("#pass").slideDown();
                $("#info").slideUp();
                $(".optionPass").css('background-color', 'rgba(207, 207, 207, .3)');
                $(".optionThema").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionBtw").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
            };
            function openBTW() {
                $("#btw").slideDown();
                $("#thema").slideUp();
                $("#lang").slideUp();
                $("#text").slideUp();
                $("#pass").slideUp();
                $("#info").slideUp();
                $(".optionBtw").css('background-color', 'rgba(207, 207, 207, .3)');
                $(".optionThema").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
            };
            function openThema() {
                $("#btw").slideUp();
                $("#thema").slideDown();
                $("#lang").slideUp();
                $("#text").slideUp();
                $("#pass").slideUp();
                $("#info").slideUp();
                $(".optionThema").css('background-color', 'rgba(207, 207, 207, .3)');
                $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionBtw").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
            };
            function openLang() {
                $("#pass").slideUp();
                $("#btw").slideUp();
                $("#thema").slideUp();
                $("#lang").slideDown();
                $("#text").slideUp();
                $("#info").slideUp();
                $(".optionLang").css('background-color', 'rgba(207, 207, 207, .3)');
                $(".optionThema").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionBtw").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionText").css('background-color', 'rgba(0, 0, 0, 0)');
            };
            function openText() {
                $("#btw").slideUp();
                $("#thema").slideUp();
                $("#lang").slideUp();
                $("#text").slideDown();
                $("#pass").slideUp();
                $(".optionText").css('background-color', 'rgba(207, 207, 207, .3)');
                $(".optionPass").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionBtw").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionLang").css('background-color', 'rgba(0, 0, 0, 0)');
                $(".optionThema").css('background-color', 'rgba(0, 0, 0, 0)');
            };
    body
        header
            nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
                a(class="navbar-brand col-sm-3 col-md-2 mr-0",href="/edit-profile/"+loginHash)=profile.firma
                form(class="form", method="post",action="/zoeken/"+loginHash)
                    input(class="form-control form-control-dark w-100" type="text",name="search",placeholder="zoeken" aria-label="zoeken")
                    button(type="sumbit",style="display:none")
                ul(class="navbar-nav px-3")
                    li(class="nav-item text-nowrap")
                        a(class="nav-link" href="#") Sign out

            div(class="container-fluid")
                div(class ="row")
                    nav(class="col-md-2 d-none d-md-block bg-light sidebar")
                        div(class="sidebar-sticky")
                            ul(class="nav flex-column")
                                li(class="nav-item")
                                    a(class="nav-link" href="/index/"+loginHash)
                                        span(data-feather="home")
                                        span Home
                                li(class="nav-item")
                                    a(class="nav-link" href="/edit-profile/"+loginHash)
                                        span(data-feather="user")
                                        span My profile
                                li(class="nav-item")
                                    a(class="nav-link" href="/facturen/"+loginHash)
                                        span(data-feather="file")
                                        span All invoices
                                li(class="nav-item")
                                    a(class="nav-link" href="/contacten/"+loginHash)
                                        span(data-feather="users")
                                        span Clients
                                li(class="nav-item")
                                    a(class="nav-link" href="/mat/"+loginHash)
                                        span(data-feather="package")
                                        span Materialen
                                li(class="nav-item")
                                    a(class="nav-link" href="/berekeningen/"+loginHash)
                                        span(data-feather="book")
                                        span Calculations
                                li(class="nav-item")
                                    a(class="nav-link active" href="/settings/"+loginHash)
                                        span(data-feather="settings")
                                        span Settings
                                        span(class="sr-only") (current)
                            h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                                span Bookmarks
                            ul(class="nav flex-column mb-2")
                                li(class="nav-item")
                                    a(class="nav-link",href='https://identity.basecone.com/authentication/login')
                                        span(data-feather="bookmark")
                                        span Basecone
                    main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
                        h2(class="pt-3") Settings
                        if error == 1
                            div(class="alert alert-success col-lg-8 col-md-10 col-sm-12" role="alert") Succesfully updated!
                        div(class="table-responsive")
                            table(class="table")
                                tbody
                                    tr(onclick="openPass()",class="settingsOption optionPass")
                                        td
                                            p(class="lead") Change password
                                            div(id="pass",style="display:none;")
                                                a(href='/pass' + "/" + loginHash,class="button")
                                                    button(type="button" class="btn btn-outline-"+settings.thema) Change password
                                    tr(onclick="openBTW()",class="settingsOption optionBtw")
                                        td
                                            p(class="lead") Change VAT
                                            div(id="btw",style="display:none;")
                                                p Btw staat op: #{settings.btw}%
                                                a(href='/btw' + "/" + loginHash,class="button",class="btn btn-outline-"+settings.thema) Change VAT
                                    tr(onclick="openThema()",class="settingsOption optionThema")
                                        td
                                            p(class="lead")
                                                span Thema
                                            div(id="thema",style="display:none;")
                                                div(class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups")
                                                    div(class="btn-group mr-4" role="group" aria-label="First group")
                                                        a(href='/change-theme/secondary' + "/" + loginHash,class="button")
                                                            if settings.thema == "secondary"
                                                                button(type="button" class="btn btn-outline-secondary") grey
                                                            else
                                                                button(type="button" class="btn btn-secondary") grey
                                                        a(href='/change-theme/dark' + "/" + loginHash,class="button")
                                                            if settings.thema == "dark"
                                                                button(type="button" class="btn btn-outline-dark") dark
                                                            else
                                                                button(type="button" class="btn btn-dark") dark
                                                        a(href='/change-theme/light' + "/" + loginHash,class="button")
                                                            if settings.thema == "light"
                                                                button(type="button" class="btn btn-outline-light") white
                                                            else
                                                                button(type="button" class="btn btn-light") white
                                                        a(href='/change-theme/info' + "/" + loginHash,class="button")
                                                            if settings.thema == "info"
                                                                button(type="button" class="btn btn-outline-info") blue
                                                            else
                                                                button(type="button" class="btn btn-info") blue
                                                        a(href='/change-theme/danger' + "/" + loginHash,class="button")
                                                            if settings.thema == "danger"
                                                                button(type="button" class="btn btn-outline-danger") red
                                                            else
                                                                button(type="button" class="btn btn-danger") red
                                    tr(onclick="openLang()",class="settingsOption optionLang")
                                        td
                                            p(class="lead") Language
                                            div(id="lang",style="display:none;")
                                                div(class="btn-group mb-3" role="group" aria-label="Basic example")
                                                    a(href="/change-lang/nl/" + loginHash,class="button")
                                                        if settings.lang == "nl"
                                                            button(type="button" class="btn btn-outline-"+settings.thema) Dutch
                                                        else
                                                            button(type="button" class="btn btn-"+settings.thema) Dutch
                                                    a(href="/change-lang/eng/" + loginHash,class="button")
                                                        if settings.lang == "eng"
                                                            button(type="button" class="btn btn-outline-"+settings.thema) English
                                                        else
                                                            button(type="button" class="btn btn-"+settings.thema) English
                                    tr(onclick="openText()",class="settingsOption optionText")
                                        td
                                            p(class="lead") Text footnotes
                                            div(id="text",style="display:none;")
                                                form(action='/edit-pdf-text/'+loginHash,method='post')
                                                    button(type="button" class="mb-1 headExtend btn-sm btn btn-outline-"+settings.thema, onclick="info()") info
                                                    div(class="input-group mb-3")
                                                        div(class="input-group-prepend")
                                                            span(class="input-group-text") Invoice text
                                                        textarea(input="text",name="factuurtext",class="form-control" aria-label="With textarea")=settings.factuurtext
                                                    div(class="input-group mb-3")
                                                        div(class="input-group-prepend")
                                                            span(class="input-group-text") Creditnote text
                                                        textarea(input="text",name="creditnotatext",class="form-control" aria-label="With textarea")=settings.creditnotatext
                                                    div(class="input-group mb-3")
                                                        div(class="input-group-prepend")
                                                            span(class="input-group-text") Offer text
                                                        textarea(input="text",name="offertetext",class="form-control" aria-label="With textarea")=settings.offertetext
                                                    button(type="submit",class="btn btn-outline-"+settings.thema) make changes
                                                    div(class="",id="info",style="display:none")
                                                        p In order to use variables of the database, type them like below;
                                                        p Voor variabelen van de database te gebruiken, typ ze zoals hieronder in de texten:
                                                        samp(class="text")
                                                            pre
                                                                code &#91;firm&#93;      : firm name
                                                                code &#91;name&#93;      : full name
                                                                code &#91;street&#93;    : steetname
                                                                code &#91;nr&#93;        : streetnumber
                                                                code &#91;postal&#93;    : postal
                                                                code &#91;place&#93;     : place
                                                                code &#91;vat&#93;       : vat number
                                                                code &#91;iban&#93;      : Iban number
                                                                code &#91;bic&#93;       : Bic nummer
                                                                code &#91;tel&#93;       : Telephone nummer
                                                                code &#91;mail&#93;      : mail
                                                                code &#91;contact.bank&#93;    : mail of client from document
                                                                code &#91;invoice.date&#93;    : Date of creation from document
                                                                code &#91;invoice.nr&#93;      : Number of invoice
                                                                code &#91;invoice.advance&#93; : Advance amount 
                                                                code &#91;invoice.total&#93;   : Total amount price
                                                                code &#91;date&#93;    : full day of today (dd mmonth yyyy)
                                                                code &#91;date.d&#93;  : Day of today in numbers (dd)
                                                                code &#91;date.m&#93;  : full month of today (month)
                                                                code &#91;date.y&#93;  : full year of today (yyyy)



    script.
            $(document).ready(function () {
                feather.replace();
            });
            function drawChart(totaal) {
                console.log(totaal);
                var ctx = document.getElementById('myChart').getContext('2d');
                var maand = ["Januari", "Februari", "Maart", "April", "Mei", "Juni", "Juli", "Augustus", "September", "Oktober", "November", "December"];
                var color = Chart.helpers.color;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [maand[0], maand[1], maand[2], maand[3], maand[4], maand[5], maand[6], maand[7], maand[8], maand[9], maand[10], maand[11]],
                        datasets: [{
                            label: 'Exlc. btw €',
                            data: [totaal[0], totaal[1], totaal[2], totaal[3], totaal[4], totaal[5], totaal[6], totaal[7], totaal[8], totaal[9], totaal[10], totaal[11]],
                            backgroundColor: color(window.chartColors.red).alpha(1).rgbString(),
                            borderColor: window.chartColors.red,
                            borderWidth: 1
                        }, {
                            label: 'Incl. btw €',
                            data: [totaal[0] * 1.21, totaal[1] * 1.21, totaal[2] * 1.21, totaal[3] * 1.21, totaal[4] * 1.21, totaal[5] * 1.21, totaal[6] * 1.21, totaal[7] * 1.21, totaal[8] * 1.21, totaal[9] * 1.21, totaal[10] * 1.21, totaal[11] * 1.21],
                            backgroundColor: color(window.chartColors.blue).alpha(1).rgbString(),
                            borderColor: window.chartColors.blue,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
            function changeBetaald(id, contact, loginHash) {
                if (contact === "undefined") {
                    window.location = "/change-betaald2/" + id + "/" + loginHash;
                } else {
                    window.location = "/change-betaald/" + id + "/" + loginHash;
                }
            }
