//- V1.8
html
  head
    include ../includes/htmlHead
    script.
      function info(){$("#info").toggle();};
      $(document).ready(function () {
        feather.replace();
      });
body
  header
    include ../includes/topBar
    div(class="container-fluid")
      div(class ="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            include ../includes/navFlexCollumn
            include ../includes/bookmarks
        main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
          h2(class="pt-3") Mijn profiel - aanpassen
          hr
          include ../includes/messages
          form(action='/edit/profile/'+profile._id,method='post')
            div(class="form-row")
              div(class="form-group col-md-6")
                label(for="title") Persoonsnaam
                input(type="text",class="form-control",value=profile.name,name="name",placeholder="Jan Janssens")
              div(class="form-group col-md-6")
                label(for="title") Firma naam
                input(type="text",class="form-control",value=profile.firm,name="firm",placeholder="firma en co.")
              div(class="form-group col-md-3")
                label(for="title") Straatnaam
                input(type="text",class="form-control",value=profile.street,name="street",placeholder="grotestraat")
              div(class="form-group col-md-2")
                label(for="title") Straat Nr
                input(type="text",class="form-control",value=profile.streetNr,name="streetNr",placeholder="12")
              div(class="col-md-1")
              div(class="form-group col-md-2")
                label(for="title") BTW-nummer
                input(type="text",class="form-control",value=profile.vat,name="vat",placeholder="BE 0000.000.000")
              div(class="form-group col-md-2")
                label(for="title") IBAN-nr
                input(type="text",class="form-control",value=profile.iban,name="iban",placeholder="BE77 7777 7777 7777")
              div(class="form-group col-md-2")
                label(for="title") Postcode
                input(type="number",class="form-control",value=profile.postal,name="poctal",placeholder="1234")
              div(class="form-group col-md-3")
                label(for="title") Plaatsnaam
                input(type="text",class="form-control",value=profile.place,name="place",placeholder="Gent")
              div(class="form-group col-md-2")
                label(for="title") Telefoon nummer
                input(type="text",class="form-control",value=profile.tel,name="tel",placeholder="0487654321")
              div(class="col-md-7")
              div(class="form-group col-md-2 mr-auto")
                label(for="title") Factuur nr:
                input(type="text",class="form-control",value=invoiceNrCurrent,name="invoiceNrCurrent")
              div(class="form-group col-md-2 mr-auto")
                label(for="title") Offerte nr:
                input(typ='text',class='form-control',value=offerNrCurrent,name="offerNrCurrent")
              div(class="form-group col-md-2 mr-auto")
                label(for="title") Creditnr:
                input(typ='text',class='form-control',value=creditNrCurrent,name="creditNrCurrent")
              div(class="form-group col-md-2 mr-auto")
                label(for="title") BIC-nr
                input(type="text",class="form-control",value=profile.bic,name="bic",placeholder="KREDBEBB")
              div(class="col-md-2")
              div(class="form-group col-md-5")
                label(for="title") E-mail
                input(type="text",class="form-control",value=profile.email[0],name="email",placeholder="voorbeeld@email.be")
            button(type="submit",class="btn btn-outline-"+settings.theme) profiel bijwerken
            hr(class="mb-3")
            div(class="row no-gutters")
              div(class="col-md-3")
                p(class="lead") Upload your logo:
                a(href="/upload/logo")
                  button(type="button",role="button",class="btn-sm btn-outline-"+settings.theme) Upload...
              div(class="col-md")
                p(class="lead") preview of current logo:
                img(src="/images/"+profile.fromUser+"/logo.jpeg" alt="your logo" class="rounded-lg" style="width:100px;height:100px")
