//- V1.8
html
  head
    include ../includes/htmlHead

body
  include ../includes/topBar
  div(class="container-fluid")
    div(class ="row")
      nav(class="col-md-2 d-none d-md-block bg-light sidebar").fixed
        div(class="sidebar-sticky")
          include ../includes/mainMenu
          include ../includes/downMenu
      main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
        h2(class="pt-3")=__('My profile')+" - "+title
        hr
        include ../includes/messages
        include ../includes/forms/edit-profile
        if role==="user"
          hr(class="mb-3")
          div(class="row no-gutters")
              div(class="col-xl-3 col-md-4 offset-xl-0 ")
                p(class="lead")=("Upload your logo")+":"
                 div.row
                   div.col-md-5
                    a(href="/upload/logo")
                      button(type="button",role="button",class="btn btn-sm btn-outline-"+settings.theme)=__("Change your logo")
                   div.col-md-5
                     a(href="/delete/logo")
                      button.buttonsBelow(type="button",role="button",class="btn btn-sm btn-outline-" + settings.theme)=__("Delete your logo")
              div(class="col-xl-3 col-md-6 offset-xl-1").underWhiteSpace
                p(class="lead") preview of current logo:
                if(size)
                  img#logo(src="/no-logo.jpg" alt="your logo" class="rounded-lg" style="width:"+size.width/((size.height/size.width)*10)+"px;height:"+size.height/((size.height/size.width)*10)+"px")
                else
                  img#logo(src="/no-logo.jpg" alt="your logo" class="rounded-lg" style="width:200px;height:200px")
  script.
    function info(){
      $("#info").toggle();
    };
    $(document).ready(function () {
      feather.replace();
    });

    function imageExists(url, callback) {
      let img = new Image();
      img.onload = function () {
        callback(true);
      };
      img.onerror = function () {
        callback(false);
      };
      img.src = url;
    }
    imageExists(src="/images/" + "#{profile.fromUser}" + "/logo.jpeg", function (exists) {
      if (exists) {
        document.getElementById("logo").src = src;
      }
    });
  include ../includes/modals/bugReporter