script( type="text/javascript"  src="/dist/tablesorter-master/js/jquery.tablesorter.combined.js")
script.
    $(function () {
        $("#tabelActivities").tablesorter();
    });
table(class="table table-striped table-sm ",id="tabelActivities")
    thead(style="color:#FFF",class="thead shadow bg-" + settings.theme)
        tr
            th(scope="col") #{__('Type')}
            th(scope="col") #{__('Description')}
            th(scope="col") #{__('Date')}
            th(scope="col") #{__('Actions')}
    tbody
        each act in activities
            tr
                td
                    if(act.type==="delete")
                        i.act-fas.fas.fa-trash-alt
                    if(act.type==="time")
                        i.act-fas.fas.fa-sign-in-alt
                    if(act.type === "edit")
                        i.act-fas.fas.fa-edit
                    if(act.type === "add")
                        i.act-fas.fas.fa-plus-square
                    if(act.type === "download")
                        i.act-fas.fas.fa-file-download
                    if(act.type === "settings")
                        i.act-fas.fas.fa-cog
                    if(act.type === "upgrade")
                        i.act-fas.fas.fa-angle-douple-up
                    if(act.type === "change")
                        i.act-fas.fas.fa-exchange-alt
                td=(act.info)?act.description+" : "+act.info:act.description
                td(id="date"+act._id)=act.time
                td
                    if(act.type==="delete")
                        div.btn-group.dropleft
                            a(role="button", class="btn btn-outline-"+settings.theme+" btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{__('Actions')}
                            div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                                a(class="dropdown-item", href='/activity/undo/'+act._id) #{__('Undo')}
                                a(class="dropdown-item", href='/activity/removePerm/'+act._id) #{__('Remove permanently')}
                    else
                        a(role="button" class="btn btn-outline-"+settings.theme+" btn-sm" href="/activity/remove/"+act._id)=__("Remove")
            script.
                //date is done via DOM, the locale cannot be set right when using pug
                let id#{act._id} = "date" + "#{act._id}";
                document.getElementById(id#{act._id}).innerHTML = new Date("#{act.time}").toLocaleString("#{settings.locale}");