table(class="table table-striped table-sm ",id="hoofdTabel")
    thead(style="color:#FFF",class="thead shadow bg-" + settings.theme)
        tr
            th(scope="col") #{__('Client')}
            th(scope="col") #{__('Email')}
            th(scope="col") #{__('Action')}
    tbody
        each client in clients
            tr
                td
                    a(href='/invoice/all/' + client._id)=client.clientName
                td
                    if client.email
                        if client.email.length===1
                            a(href="mailto:"+client.email)=client.email
                        if client.email.length > 1
                            a(role="button", class="btn btn-outline-" + settings.theme + " btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") E-mails
                            div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                                each email in client.email
                                 a(class="dropdown-item", href='mailto:' + email)=email
                        if client.email[0]===""
                            span #{__('no e-mail')}
                    else
                        span #{__('no e-mail')}
                td
                    div.btn-group.dropleft
                        a(role="button", class="btn btn-outline-"+settings.theme+" btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{__('Actions')}
                        div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                            a(class="dropdown-item", href='/view/client/' + client._id) #{__('View')}
                            a(class="dropdown-item", href='/edit/client/' + client._id) #{__('Edit')}
                            a(class="dropdown-item", href='/delete/client/' + client._id) #{__('Delete')}