table(class="table table-striped table-sm ",id="hoofdTabel")
    thead(style="color:#FFF",class="thead shadow bg-"+settings.theme)
        tr
            th #{__('Number')}
            if !client
                th #{__('Client')}
            th #{__('Date')}
            th #{__('Price')}
            th #{__('Status')}
            th #{__('Action')}
    tbody
        each invoice in invoices
            tr
                td
                    if invoice.invoiceNr
                        a(href='/order/all/' + invoice._id )=invoice.invoiceNr
                    if invoice.offerNr && !invoice.invoiceNr
                        a(href='/order/all/' + invoice._id) #{__('Offer')}  #{" "+invoice.offerNr}
                    if invoice.creditNr && !invoice.offerNr && !invoice.invoiceNr
                        a(href='/order/all/' + invoice._id ) #{__('Creditnote')} #{" "+invoice.creditNr}
                if !client
                    td
                        a(href='/invoice/all/' + invoice.fromClient)=invoice.clientName
                td=new Date(invoice.date).toLocaleString(settings.locale,{ year: 'numeric', month: 'numeric', day: 'numeric' })
                if invoice.invoiceNr
                    td
                        span=(invoice.total * 1.21).toFixed(2) + "€"
                else
                    td
                if invoice.invoiceNr
                    td
                        div(class="custom-control custom-switch")
                            if invoice.isPaid
                                input(type="checkbox" class="custom-control-input bg-success" id=invoice._id, onclick='setStatus(\"' + invoice._id + '\")', checked)
                                label(class="custom-control-label" for=invoice._id) #{__('Paid')}
                            if !invoice.isPaid
                                input(type="checkbox" class="custom-control-input bg-danger" id=invoice._id, onclick='setStatus(\"' + invoice._id + '\")')
                                label(class="custom-control-label" for=invoice._id) #{__('Unpaid')}
                else
                    td
                td
                    div(class="btn-group front")
                        button(role="button", class="btn btn-outline-" + settings.theme + " btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{__('Actions')}
                        div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                            a(class="dropdown-item button", href='/view/invoice/' + invoice._id ) #{__('View')}
                            a(class="dropdown-item",href='/edit/invoice/' + invoice._id) #{__('Edit')}
                            a(class="dropdown-item", href='/delete/invoice/' + invoice._id) #{__('Delete')}
                            div(class="dropdown-divider")
                            if invoice.creditNr
                                a(class="dropdown-item", href='/download/credit/' + invoice._id ,id="target",target="_tab" rel="noopener noreferrer") #{__('Download invoice')}
                            if invoice.invoiceNr
                                a(class="dropdown-item", href='/download/invoice/' + invoice._id ,id="target",target="_tab" rel="noopener noreferrer") #{__('Download invoice')}
                                a(class="dropdown-item", href='/invoice/change/downgrade/' + invoice._id ) #{__('Downgrade to offer')}
                            if invoice.offerNr
                                a(class="dropdown-item", href='/download/offer/' + invoice._id ,target="_tab" rel="noopener noreferrer") #{__('Download offer')}
                                if !invoice.invoiceNr
                                    a(class="dropdown-item button", href="/invoice/change/upgrade/" + invoice._id ) #{__('Upgrade to invoice')}