script( type="text/javascript"  src="/dist/tablesorter-master/js/jquery.tablesorter.combined.js")
script.
    $(function () {
        $("#tabelOrders").tablesorter();
    });
table(class="table table-striped table-sm ",id="tabelOrders")
    thead(style="color:#FFF",class="thead shadow bg-" + settings.theme)
        tr
            th(scope="col") #{__('Description')}
            th(scope="col") #{__('Amount')}
            th(scope="col") #{__('Price')}
            th(scope="col") #{__('Total')}
            th(scope="col") #{__('Actions')}
    tbody
        if(invoice)
            tr
                td
                    a(href="/order/new/" + invoice._id)
                        i.not-nav-fas.fas.fa-plus-circle
                        span=__("Add a new line")
                td
                td
                td
                td
        each order in orders
            tr
                td
                    include ../modals/view/order
                    a(href="/edit/order/"+order._id)=order.description
                td=order.amount
                td=order.price+" €"
                td=order.total.toFixed(2)+" €"
                td
                    div.btn-group.dropleft
                        a(role="button", class="btn btn-outline-"+settings.theme+" btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{__('Actions')}
                        div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                            a(class="dropdown-item", href='/edit/order/'+order._id) #{__('Edit')}
                            a(class="dropdown-item", href="#viewOrder"+ order._id, data-toggle='modal' data-target='#viewOrder'+ order._id ) #{__('View')}
                            a(class="dropdown-item", href="#deleteConfirmationLine" + order     ._id, data-toggle='modal' data-target='#deleteConfirmationLine' + order._id ) #{__('Delete')}
            include ../modals/deleteConfirmationLine