html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheet.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="https://www.chartjs.org/samples/latest/utils.js")
    script(src="https://unpkg.com/feather-icons")
    script.
      $(document).ready(function () {
        function toonBerekeningen(){$("#berekeningen").toggle();}
        feather.replace();
      });
  body
    header

      nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
        a(class="navbar-brand col-sm-3 col-md-2 mr-0",href="/edit-profile/"+loginHash)=profile.firma
        form(class="form", method="post",action="/zoeken/"+loginHash)
          input(class="form-control form-control-dark w-100" type="text",name="search",placeholder="zoeken" aria-label="zoeken")
          button(type="sumbit",style="display:none")
        ul(class="navbar-nav px-3")
          li(class="nav-item text-nowrap")
            a(class="nav-link" href="#") Sign out

      div(class="container-fluid")
        div(class ="row")
          nav(class="col-md-2 d-none d-md-block bg-light sidebar")
            div(class="sidebar-sticky")
              ul(class="nav flex-column")
                li(class="nav-item")
                  a(class="nav-link" href="/index/"+loginHash)
                    span(data-feather="home")
                    span Home
                li(class="nav-item")
                  a(class="nav-link" href="/edit-profile/"+loginHash)
                    span(data-feather="user")
                    span Mijn Profiel
                li(class="nav-item")
                  a(class="nav-link" href="/facturen/"+loginHash)
                    span(data-feather="file")
                    span Alle facturen
                li(class="nav-item")
                  a(class="nav-link active" href="/contacten/"+loginHash)
                    span(data-feather="users")
                    span Klanten
                    span(class="sr-only") (current)
                li(class="nav-item")
                  a(class="nav-link" href="/mat/"+loginHash)
                    span(data-feather="package")
                    span Materialen
                li(class="nav-item")
                  a(class="nav-link" href="/berekeningen/"+loginHash)
                    span(data-feather="book")
                    span Berekeningen
                li(class="nav-item")
                  a(class="nav-link" href="/settings/"+loginHash)
                    span(data-feather="settings")
                    span Settings
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                span Bookmarks
              each bookmark in profile.bookmarks
                ul(class="nav flex-column")
                  li(class="nav-item")
                      a(class="nav-link",href="https://"+bookmark[1])
                          span(data-feather="bookmark")
                          span=bookmark[0]
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                span Klanten - opties
              ul(class="nav flex-column mb-2")
                li(class="nav-item")
                  a(class="nav-link",href='/add-contact'+"/"+loginHash)
                    span(data-feather="plus-circle")
                    span Nieuwe klant
          main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
            h2(class="pt-3") Alle Klanten
            div(class="table-responsive bigger")
              table(class="table table-striped table-sm")
                thead(class="thead-dark")
                  tr
                    th(scope="col") Contact
                    th(scope="col") E-mail
                    th(scope="col") Action
                tbody
                each contact in contactenLijst
                  tr
                    td
                      a(href='/facturen/' + contact._id + "/" + loginHash)=contact.contactPersoon
                        if contact.mail
                          if contact.mail2
                            td
                              a(class="dropdown-toggle", href="#", id="actionsDropdown2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") E-mail's
                              div(class="dropdown-menu", aria-labelledby="actionsDropdown2")
                                a(class="dropdown-item", href='mailto:'+contact.mail)=contact.mail
                                a(class="dropdown-item", href='mailto:'+contact.mail1)=contact.mail1
                                a(class="dropdown-item", href='mailto:'+contact.mail2)=contact.mail2
                          else if contact.mail1
                            td
                              a(class="dropdown-toggle", href="#", id="actionsDropdown2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") E-mail's
                              div(class="dropdown-menu", aria-labelledby="actionsDropdown2")
                                a(class="dropdown-item", href='mailto:'+contact.mail)=contact.mail
                                a(class="dropdown-item", href='mailto:'+contact.mail1)=contact.mail1

                          if !contact.mail1
                            td
                              a(href="mailto:"+contact.mail)=contact.mail
                        else
                          td
                            button(type="button" class="btn btn-outline-"+settings.thema disabled) geen e-mail
                    td
                      a(role="button", class="btn btn-outline-"+settings.thema+" btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                      div(class="dropdown-menu", aria-labelledby="actionsDropdown")                      
                        a(class="dropdown-item", href='/view-contact/' + contact._id + "/" + loginHash) Bekijken
                        a(class="dropdown-item", href='/edit-contact/' + contact._id + "/" + loginHash) Aanpassen
                        a(class="dropdown-item", href='/delete-contact/' + contact._id + "/" + loginHash) Verwijderen
