html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheet.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="https://www.chartjs.org/samples/latest/utils.js")
    script(src="https://unpkg.com/feather-icons")
    script(src = "/sorters.js")
    script.
      $(document).ready(function () {
        function toonBerekeningen(){$("#berekeningen").toggle();}
        feather.replace();
      });
  body
    header
      nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
        a(class="navbar-brand col-sm-3 col-md-2 mr-0",href="/edit-profile/"+loginHash)=profile.firma
        form(class="form", method="post",action="/zoeken/"+loginHash)
          input(class="form-control form-control-dark w-100" type="text",name="search", placeholder="zoeken" aria-label="zoeken")
          button(type="sumbit",style="display:none")
        ul(class="navbar-nav px-3")
          li(class="nav-item text-nowrap")
            a(class="nav-link" href="#") Sign out

      div(class="container-fluid")
        div(class ="row")
          nav(class="col-md-2 d-none d-md-block bg-light sidebar")
            div(class="sidebar-sticky")
              ul(class="nav flex-column")
                li(class="nav-item")
                  a(class="nav-link" href="/index/"+loginHash)
                    span(data-feather="home")
                    span Home
                li(class="nav-item")
                  a(class="nav-link" href="/edit-profile/"+loginHash)
                    span(data-feather="user")
                    span Mijn Profiel
                li(class="nav-item")
                  if !contact
                    a(class="nav-link active" href="/facturen/"+loginHash)
                      span(data-feather="file")
                      span Alle facturen
                      span(class="sr-only") (current)
                  else
                    a(class="nav-link" href="/facturen/" + loginHash)
                      span(data-feather="file")
                      span Alle facturen
                li(class="nav-item")
                  if contact
                    a(class="nav-link active" href="/contacten/"+loginHash)
                      span(data-feather="users")
                      span Klanten
                      span(data-feather="chevron-right")
                      span Facturen
                  else
                    a(class="nav-link" href="/contacten/" + loginHash)
                      span(data-feather="users")
                      span Klanten
                li(class="nav-item")
                  a(class="nav-link" href="/mat/"+loginHash)
                    span(data-feather="package")
                    span Materialen
                  li(class="nav-item")
                  a(class="nav-link" href="/berekeningen/"+loginHash)
                    span(data-feather="book")
                    span Berekeningen
                li(class="nav-item")
                  a(class="nav-link" href="/settings/"+loginHash)
                    span(data-feather="settings")
                    span Settings
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                span Bookmarks
              ul(class="nav flex-column mb-2")
                li(class="nav-item")
                  a(class="nav-link",href='https://identity.basecone.com/authentication/login')
                    span(data-feather="bookmark")
                    span Basecone
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                span Facturen - opties
              ul(class="nav flex-column mb-2")
                li(class="nav-item")
                  if contact
                    a(class="nav-link",href='/add-factuur' + "/"+contact._id+"/"+ loginHash)
                      span(data-feather="plus-circle")
                      span Nieuwe factuur
                        i (voor deze klant)
                  else
                    a(class="nav-link",href='/add-factuur' +"/"+ loginHash)
                      span(data-feather="plus-circle")
                      span Nieuwe factuur
                li(class="nav-item")
                  if contact
                    a(class="nav-link",href='/add-offerte' + "/"+contact._id+"/"+ loginHash)
                      span(data-feather="plus-circle")
                      span Nieuwe offerte
                        i (voor deze klant)
                  else
                    a(class="nav-link",href='/add-Offerte' + "/" + loginHash)
                      span(data-feather="plus-circle")
                      span Nieuwe offerte
                li(class="nav-item")
                  if contact
                    a(class="nav-link",href='/add-creditnota' + "/"+contact._id+"/"+ loginHash)
                      span(data-feather="plus-circle")
                      span Nieuwe creditnota
                        i (voor deze klant)
                  else
                    a(class="nav-link",href='/add-creditnota' + "/" + loginHash)
                      span(data-feather="plus-circle")
                      span Nieuwe creditnota
    main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
      if !contact
        h2(class="pt-3") Alle facturen
      else
        h2(class="pt-3")="Facturen van "+contact.contactPersoon
      div(class="headExtend")
        div(class="btn-group dropleft mb-2 mb-md-0")
          button(type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle", data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
            span(data-feather="bar-chart")
            span sort
          div(class="dropdown-menu")
            a(class="dropdown-item" onclick="sortTable(0)") #
            if !contact
              a(class="dropdown-item" onclick="sortTable(1)") Klant
            if contact
              a(class="dropdown-item" onclick="sortTable(1,\"date\")") Datum
            if !contact
              a(class="dropdown-item" onclick="sortTable(2,\"date\")") Datum
            if contact
              a(class="dropdown-item" onclick="sortTable(2,\"kost\")") Kost
            if !contact
              a(class="dropdown-item" onclick="sortTable(3,\"kost\")") Kost
      div(class="table-responsive bigger")
        table(class="table table-striped table-sm",id="hoofdTabel")
          thead
            tr
              th #
              if !contact
                th Klant
              th Datum
              th Kost
              th Acties
          tbody
            each factuur in facturenLijst
              tr
                td
                  if factuur.factuurNr
                    if contact
                      a(href='/bestellingen/' + factuur._id + "/" + loginHash, class="button")
                        button(type="button" class="btn btn-outline-" + settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum + " met voorschot " + factuur.voorschot + " €")=factuur.factuurNr
                    if !contact
                      a(href='/bestellingen/' + factuur._id + '/t/' + loginHash, class="button")
                        button(type="button" class="btn btn-outline-" + settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum + " met voorschot " + factuur.voorschot + " €")=factuur.factuurNr
                  if factuur.offerteNr && !factuur.factuurNr
                    if contact
                      a(href='/bestellingen/' + factuur._id + "/" + loginHash, class="button")
                        button(type="button" class="btn btn-outline-" + settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum + " met voorschot " + factuur.voorschot + " €")="Offerte " + factuur.offerteNr
                    if !contact
                      a(href='/bestellingen/' + factuur._id + '/t' + "/" + loginHash, class="button")
                        button(type="button" class="btn btn-outline-" + settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum + " met voorschot " + factuur.voorschot + " €")="Offerte " + factuur.offerteNr
                  if factuur.creditnr && !factuur.offerteNr && !factuur.factuurNr
                    a(href='/bestellingen/' + factuur._id + "/" + loginHash, class="button")
                      button(type="button" class="btn btn-outline-" + settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title=factuur.datum + " met voorschot " + factuur.voorschot + " €")="Creditnota " + factuur.creditnr
                if !contact
                  td
                    if factuur.contactPersoon == "Update deze factuur!"
                      a(href='/updateFactuur/' + factuur._id + "/" + loginHash, class="button")
                        button(type="button" class="btn btn-outline-" + settings.thema data-html="true" data-toggle="tooltip" data-placement="top" title="Klik hier om deze factuur up te daten")=factuur.contactPersoon
                    else
                      a(href='/facturen/' + factuur.contact + "/t" + "/" + loginHash, class="button")
                        button(type="button" class="btn btn-outline-" + settings.thema, data-html="true" data-toggle="tooltip" data-placement="top" title="Ga naar deze persoon's facturen")=factuur.contactPersoon
                td=factuur.datum
                if factuur.factuurNr
                  td
                    div(class="custom-control custom-switch")
                      if factuur.isBetaald
                        input(type="checkbox" class="custom-control-input bg-success" id=factuur._id, onclick='changeBetaald(\"' + factuur._id + '\",\"' + contact + '\",\"' + loginHash + '\")', checked)
                        label(class="custom-control-label" for=factuur._id)=(factuur.totaal * 1.21).toFixed(2) + "€ ,  Betaald"
                      if !factuur.isBetaald
                        input(type="checkbox" class="custom-control-input bg-danger" id=factuur._id, onclick='changeBetaald(\"' + factuur._id + '\",\"' + contact + '\",\"' + loginHash + '\")')
                        label(class="custom-control-label" for=factuur._id)=(factuur.totaal * 1.21).toFixed(2) + "€ ,  Openstaand"
                else
                  td  /
                td
                  div(class="btn-group front")
                    button(role="button", class="btn btn-outline-" + settings.thema + " btn-sm dropdown-toggle", href="#", id="actionsDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Acties
                    div(class="dropdown-menu", aria-labelledby="actionsDropdown")
                      if !contact
                        a(class="dropdown-item",href='/edit-factuur/' + factuur.contact + '/' + factuur._id + '/t' + loginHash) aanpassen
                        a(class="dropdown-item", href='/delete-factuur/' + factuur.contact + '/' + factuur._id + '/t/' + loginHash) verwijder
                        a(class="dropdown-item button" , href='/view-factuur/' + factuur._id + "/t/" + loginHash) bekijk
                      if contact
                        a(class="dropdown-item",href='/edit-factuur/' + factuur.contact + '/' + factuur._id + "/" + loginHash) aanpassen
                        a(class="dropdown-item", href='/delete-factuur/' + factuur.contact + '/' + factuur._id + "/" + loginHash) verwijder
                        a(class="dropdown-item button", href='/view-factuur/' + factuur._id + "/" + loginHash) bekijk
                      div(class="dropdown-divider")
                      if factuur.creditnr
                        a(class="dropdown-item", href='/creditnota/' + factuur._id + "/" + loginHash,id="target",target="_blank") download creditnota
                      if factuur.factuurNr
                        a(class="dropdown-item", href='/createPDF/' + factuur._id + "/" + loginHash,id="target",target="_blank") download factuur
                      if factuur.offerteNr
                        a(class="dropdown-item", href='/offerte/' + factuur._id + "/" + loginHash,id="target",target="_blank") download offerte
                        if !factuur.factuurNr
                          div(class="dropdown-divider")
                          if contact
                            a(class="dropdown-item button", href="/opwaardeer/" + factuur._id + "/" + loginHash) opwaardeer naar factuur
                          if !contact
                            a(class="dropdown-item button", href="/opwaardeer/" + factuur._id + "/t" + loginHash) opwaardeer naar factuur

          script.
            $(document).ready(function () {
              feather.replace();
            });
            function changeBetaald(id, contact, loginHash) {
                if (contact === "undefined") {
                  window.location = "/change-betaald2/" + id + "/" + loginHash;
                } else {
                  window.location = "/change-betaald/" + id + "/" + loginHash;
                }
            }