//- V1.8
html
  head
    title=title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script.
     function info(){$("#info").toggle();};
  body
    header
      nav(class="navbar navbar-expand-md navbar-#{settings.nav} bg-#{settings.thema}")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarNav")  
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link active" , href='/index'+"/"+loginHash) Home
            li(class="nav-item")
              a(class="nav-link active", href='/edit-profile'+"/"+loginHash) Mijn profiel    
            li(class="nav-item")
              a(class="nav-link active", href='/settings'+"/"+loginHash) Settings
            li(class="nav-item")
              a(class="nav-link", href='https://identity.basecone.com/authentication/login')
                img(width="100", height="24", src="/basecone.png", alt="basecone")
          span(class="navbar-text")
            div(class="row")
              div(class="col-4 mr-auto")
                button(type="button", class="btn btn-light btn-sm", disabled)
                  h6=description
              div(class="col-8")  
                form(class="form-inline" action="/zoeken"+"/"+loginHash, method="post")
                  input(class="form-control" type="search" placeholder="zoeken" aria-label="Search" name="search" )
    main
      div(class="jumbotron")
        div(class="row")
          div(class="col-lg-2 col-md-1 col-lg-0")
          if error == 1
            div(class="alert alert-success col-lg-8 col-md-10 col-sm-12" role="alert") Password succefully updated.
        hr
        table(class="table table-striped table-striped")
          tbody
            tr
              td
                p(class="lead") Verander
                a(href='/pass'+"/"+loginHash,class="button")
                    button(type="button" class="btn btn-#{settings.thema}") Verander
            tr
              td
                p(class="lead") Verander BTW waarden
                p Btw staat op: #{settings.btw}% 
                a(href='/btw'+"/"+loginHash,class="button",class="btn btn-#{settings.thema}") Verander
            tr
              td
                p(class="lead") Thema
                div(class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups")
                  div(class="btn-group mr-4" role="group" aria-label="First group")
                    a(href='/change-theme/secondary'+"/"+loginHash,class="button")
                      if settings.thema == "secondary"
                        button(type="button" class="btn btn-outline-secondary") grey 
                      else
                        button(type="button" class="btn btn-secondary") grey 
                    a(href='/change-theme/dark'+"/"+loginHash,class="button")
                      if settings.thema == "dark"
                        button(type="button" class="btn btn-outline-dark") dark 
                      else
                        button(type="button" class="btn btn-dark") dark 
                    a(href='/change-theme/light'+"/"+loginHash,class="button")
                      if settings.thema == "light"
                        button(type="button" class="btn btn-outline-light") white 
                      else
                        button(type="button" class="btn btn-light") white 
                    a(href='/change-theme/info'+"/"+loginHash,class="button")
                      if settings.thema == "info"
                        button(type="button" class="btn btn-outline-info") blue 
                      else
                        button(type="button" class="btn btn-info") blue 
                    a(href='/change-theme/danger'+"/"+loginHash,class="button")
                      if settings.thema == "danger"
                        button(type="button" class="btn btn-outline-danger") red 
                      else
                        button(type="button" class="btn btn-danger") red
            tr
              td
                p(class="lead") Language
                div(class="btn-group mb-3" role="group" aria-label="Basic example")
                  a(href="/change-lang/nl/"+loginHash,class="button")
                    if settings.lang == "nl"
                      button(type="button" class="btn btn-outline-#{settings.thema}") Nederlands
                    else
                      button(type="button" class="btn btn-#{settings.thema}") Nederlands
                  a(href="/change-lang/eng/"+loginHash,class="button")
                    if settings.lang == "eng"
                      button(type="button" class="btn btn-outline-#{settings.thema}") English
                    else 
                      button(type="button" class="btn btn-#{settings.thema}") English
            tr
              td  
                form(action='/edit-pdf-text/#{loginHash}',method='post')    
                    p(class="lead") Text aanpassingen   
                      button(type="button" class="mb-1 btn-sm btn btn-#{settings.thema}" onclick="info()") info
                    div(class="input-group mb-3")
                      div(class="input-group-prepend")
                        span(class="input-group-text") Factuur tekst
                      textarea(input="text",name="factuurtext",class="form-control" aria-label="With textarea") #{settings.factuurtext}
                    div(class="input-group mb-3")
                      div(class="input-group-prepend")
                        span(class="input-group-text") Creditnota tekst
                      textarea(input="text",name="creditnotatext",class="form-control" aria-label="With textarea") #{settings.creditnotatext}
                    div(class="input-group mb-3")
                      div(class="input-group-prepend")
                        span(class="input-group-text") Offerte tekst
                      textarea(input="text",name="offertetext",class="form-control" aria-label="With textarea") #{settings.offertetext}
                    button(type="submit",class="btn btn-#{settings.oppo}") bijwerken
                    div(class="",id="info",style="display:none")
                      p To use variables from the program type them like this in the text:
                      samp 
                        pre
                          code 
                              &#91;firma&#93;     : firma naam
                              &#91;naam&#93;      : volledige naam
                              &#91;straat&#93;    : straatnaam
                              &#91;straatnr&#93;  : straatnummer
                              &#91;postcode&#93;  : postcode
                              &#91;plaats&#93;    : plaatsnaam 
                              &#91;btw&#93;     : btw nummer
                              &#91;iban&#93;      : Iban nummer
                              &#91;bic&#93;       : Bic nummer
                              &#91;tele&#93;      : Telefoon nummer
                              &#91;bic&#93;       : mail
                              &#91;contact.rekeningnr&#93;: mail van contactpersoon die bij de factuur hoort
                              &#91;factuur.datum&#93;     : Datum van creatie van het document in het programma
                              &#91;factuur.factuurnr&#93; : Nummer van de factuur
                              &#91;factuur.offertenr&#93; : Nummer van de offerte
                              &#91;factuur.creditnr&#93;  : Nummer van de creditnota
                              &#91;factuur.voorschot&#93; : het voorschot bedrag
                              &#91;factuur.totaal&#93;    : het totaal aantal bedrag
